{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Hôpital</th>
      <th>Service</th>
      <th>Chef de service</th>
      <th>Catégorie</th>
      <th>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% for department in departments %}
      <tr>
        <td><a href="{{ path('GCore_FSShowHospital', {id: department.hospital.id}) }}" title="Afficher les informations de l'hôpital '{{ department.hospital.name }}'">{{ department.hospital }}</a></td>
        <td><a href="{{ path('GCore_FSShowDepartment', {id: department.id}) }}" title="Afficher les informations du service '{{ department.name }}'">{{ department.name }}</a></td>
        <td>{{ department.head }}</td>
        <td>{{ department.sector }}</td>
        <td>
          <ul>
            <li><a href="{{ path('GCore_FSShowDepartment', {id: department.id}) }}" title="Afficher les informations du service '{{ department.name }}'">Afficher</a></li>
            {% if kparam('eval_active') == true and is_granted('ROLE_STUDENT') %}<li><a href="{{ path('GEval_DShow', { 'id': department.id }) }}" title="Afficher les évaluations du service '{{ department.name }}'">Évaluations</a></li>{% endif %}
          </ul>
        </td>
      </tr>
    {% else %}
      <tr><td colspan="5">Aucun service enregistré</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
