{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Terrains de stage
    {% if limit %}
        ({{ limit.description }})
    {% endif %}
{% endblock %}

{% block titlecontent %}
    Terrains de stage
    {% if limit %}
        ({{ limit.description }})
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('GCore_FSANewHospital', { 'limit': limit }) }}" title="Ajouter un nouvel hôpital" class="add">
            <img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" />
        </a>
    {% endif %}
{% endblock %}

{% block actionscontent %}
    {% for sector in sectors %}
        <li class="btn btn-primary">
            <a href="{{ path('GCore_FSIndex', {'limit': {'type': 's.id', 'value': sector.id, 'description': sector.name}}) }}" title="Afficher les terrains de la catégorie {{ sector }}">
                {{ icon('filter') }} {{ sector }}
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <ul class="entities hospitals list-group">
        {% for hospital in hospitals %}
            <li class="entity hospital row list-group-item">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="btn-group pull-right">
                        <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="edit">
                                <a href="{{ path('GCore_FSAEditHospital', { 'id': hospital.id, 'limit': limit }) }}" title="Modifier l'hôpital '{{ hospital.name }}'" class="edit">
                                    {{ icon('pencil') }} Modifier
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('GCore_PAPlacementIndex', { 'limit': { 'type': 'h.id', 'value': hospital.id, 'description': hospital.name }}) }}" title="Afficher les stages dans l'hôpital '{{ hospital.name }}'">
                                    {{ icon('list-alt') }} Stages
                                </a>
                            </li>
                            <li class="delete">
                                <a href="{{ path('GCore_FSADeleteHospital', { 'id': hospital.id, 'limit': limit }) }}" title="Supprimer l'hôpital '{{ hospital.name }}'" class="confirm delete" confirm="Attention ! Supprimer cet hôpital supprimera également tous les terrains de stage qui lui sont liés ainsi que les données qui s'y rapportent. Confirmez-vous la suppression ?">
                                    {{ icon('trash') }} Supprimer
                                </a>
                            </li>
                        </ul>
                    </span>
                {% endif %}
                <div class="field entity_title hospital_name"><a href="{{ path('GCore_FSIndex', {'limit': {'type': 'h.id', 'value': hospital.id, 'description': hospital.name}}) }}" title="Afficher les terrains de stage de l'hôpital '{{ hospital.name }}'">{{ hospital }}</a></div>
                <ul class="subentities departments">
                    {% for department in hospital.departments %}
                        {% set isSupervisor = false %}
                        {% for repartition in department.repartitions %}
                            <li class="row subentity department {% if repartition.number < 1 %}notactive{% endif %}">
                                <div class="col-sm-3 field subentity_title department_name">
                                    <a href="{{ path('GCore_FSShowDepartment', { 'id': department.id, 'limit': limit }) }}" title="Afficher les informations du service '{{ department.name }}'">
                                        {{ department.name }}
                                    </a>
                                </div>
                                <ul class="col-sm-2 field subentity_item department_head">
                                    {% set current = false %}
                                    {% for accreditation in department.accreditations %}
                                        {% if current != accreditation.supervisor %}
                                            <li>{{ accreditation.supervisor }}</li>
                                        {% endif %}
                                        {% set current = accreditation.supervisor %}
                                        {% if is_granted('ROLE_TEACHER') and accreditation.user.id == app.user.id %}{% set isSupervisor = true %}{% endif %}
                                    {% endfor %}
                                </ul>
                                <ul class="col-sm-2 field subentity_item department_sector">
                                    {% for accreditation in department.accreditations %}
                                        <li><a href="{{ path('GCore_FSIndex', {limit: {type: 's.id', value: accreditation.sector.id, description: accreditation.sector.name}}) }}" title="Afficher les terrains de la catégorie {{ accreditation.sector }}">{{ accreditation.sector }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% if kparam('simul_active') == true and is_granted('ROLE_STUDENT') %}
                                    {% if repartition.cluster is not null %}
                                        <div class="col-sm-1 field subentity_item department_cluster"><a href="{{ path('GCore_FSIndex', {limit: {type: 'r.cluster', value: repartition.cluster, description: repartition.cluster }}) }}" title="Afficher les terrains du cluster {{ repartition.cluster }}">Stage couplé</a></div>
                                    {% else %}
                                        <div class="col-sm-1"> </div>
                                    {% endif %}
                                    {% if repartition.number > 1 %}
                                        <div class="col-sm-2 field subentity_item department_number">{{ repartition.number }} postes</div>
                                    {% elseif repartition.number == 1 %}
                                        <div class="col-sm-2 field subentity_item department_number">1 poste</div>
                                    {% else %}
                                        <div class="col-sm-2 field empty department_number">aucun poste</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% else %}
                        <li class="noentity department">Aucun service enregistré.</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="noentity hospital">Aucun hôpital enregistré</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
