{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ department.hospital.name }}/{{ department.name }} : informations{% endblock %}

{% block titlecontent %}{{ department.name }} à {{ department.hospital.name }}{% endblock %}

{% block actionscontent %}
    <ul class="actions">
        <li class=""><a href="{{ path('GCore_FSIndex', { 'limit': limit }) }}" title="Retour à la liste des terrains"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour"></a></li>
        <li class=""><a href="{{ path('GCore_FSShowHospital', { 'id': department.hospital.id, 'limit': limit }) }}" title="Afficher les informations concernant l'hôpital '{{ department.hospital }}'"><img src="{{ asset('bundles/gessehcore/images/Info.png') }}" alt="Infos hôpital"></a></li>
        {% if kparam('eval_active') == true %}
            <li class=""><a href="{{ path('GEval_DShow', { 'id': department.id, 'limit': limit }) }}" title="Afficher les évaluations pour ce service"><img src="{{ asset('bundles/gessehcore/images/Chart_Bar_Big.png') }}" alt="Évaluations" /></a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class=""><a href="{{ path('GCore_FSAEditDepartmentDescription', { 'id': department.id, 'limit': limit }) }}" title="Modifier la description du service '{{ department.name }}'"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {% for cluster in clusters %}
        <div>Stage couplé ({{ cluster['period'].begin|date('d-m-Y') }}) avec :
            <ul>
                {% for repartition in cluster['repartitions'] %}
                    {% if repartition.department.id != department.id %}
                        <li><a href="{{ path('GCore_FSShowDepartment', { 'id': repartition.department.id, 'limit': limit }) }}">{{ repartition.department }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="content">Agréments {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}<span class=""><a href="{{ path('GCore_FSANewAccreditation', {'id': department.id, 'limit': limit }) }}" title="Ajouter un agrément"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter"></a></span>{% endif %} :
        <ul>
            {% for accreditation in department.accreditations %}
                <li>
                    De {{ accreditation.begin|date('F Y') }} à {{ accreditation.end|date('F Y') }} : {{ accreditation.sector.name }} sous la responsabilité de {{ accreditation.supervisor }}
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}
                        <span class=""><a href="{{ path('GCore_FSAEditAccreditation', { 'id': accreditation.id, 'limit': limit }) }}" title="Modifier l'agrément du service '{{ department.name }}'"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></span>
                        {% if 'ROLE_SUPERTEACHER' in accreditation.user.roles %}
                            <span class=""><a href="{{ path('GCore_FSADemote', {'id': accreditation.id, 'limit': limit}) }}" title="Démettre l'enseignant '{{ accreditation.supervisor }}'"><img src="{{ asset('bundles/gessehcore/images/Fav.png') }}" alt="Démettre" /></a></li>
                        {% else %}
                            <span class=""><a href="{{ path('GCore_FSAPromote', {'id': accreditation.id, 'limit': limit}) }}" title="Promouvoir l'enseignant '{{ accreditation.supervisor }}'"><img src="{{ asset('bundles/gessehcore/images/Fav_Empty.png') }}" alt="Promouvoir" /></a></li>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">{{ department.description|raw }}</div>
{% endblock %}
