{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}{{ hospital.name }}{% endblock %}
{% block content %}
<div>
  <ul class="nav">
    <li><a href="{{ path('GCore_FSIndex') }}" title="Retour à la liste des terrains">Retour</a></li>
    <li><a href="{{ path('GCore_FSAEditHospitalDescription', {id: hospital.id}) }}" title="Modifier la description de l'hôpital '{{ hospital.name }}'">Modifier</a>
  </ul>
</div>

<div class="content">
  <div>Adresse : {{ hospital.address }}</div>
  <div>Téléphone : {{ hospital.phone }}</div>
  <div><a href="{{ hospital.web }}">Site web</a></div>
</div>

<div class="content">{{ hospital.description|raw }}</div>
{% endblock %}
