{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}{{ hospital.name }}{% endblock %}
{% block content %}
<div>
  <ul class="record_actions">
    <li><a href="{{ path('GCore_SFIndex') }}">Retour</a></li>
    <li><a href="{{ path('GCore_SFAEditHospital', {id: hospital.id}) }}">Modifier</a>
  </ul>
</div>

<div class="record_content">
  <div>Adresse : {{ hospital.address }}</div>
  <div>Téléphone : {{ hospital.phone }}</div>
  <div><a href="{{ hospital.web }}">Site web</a></div>
</div>

<div class="record_content">{{ hospital.description }}</div>
{% endblock %}
