{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ department.hospital.name }}/{{ department.name }} : informations{% endblock %}

{% block titlecontent %}{{ department.name }} à {{ department.hospital.name }}{% endblock %}

{% block actionscontent %}
{% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#hopital" data-toggle="tab">Structure de soins</a></li>
        <li><a href="#agrement" data-toggle="tab">Agréments</a></li>
        {% if clusters is not null %}
            <li><a href="#cluster" data-toggle="tab">Stage couplé</a></li>
        {% endif %}
        {% if kparam('eval_active') == true %}
            <li>
                <a href="{{ path('GEval_DShow', { 'id': department.id, 'limit': limit }) }}" title="Afficher les évaluations pour ce service">
                    {{ icon('stats') }} Evaluations
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="description">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="btn pull-right">
                    <a href="{{ path('GCore_FSAEditDepartmentDescription', { 'id': department.id, 'limit': limit }) }}" title="Modifier la description du service '{{ department.name }}'">
                        {{ icon('pencil') }} Modifier
                    </a>
                </div>
            {% endif %}
            <div>{{ department.description|raw }}</div>
        </div>

        <div class="tab-pane fade list-group" id="hopital">
            <ul class="list-group-item">
                <li class="hospital_address"><span class="title">Adresse :</span> {{ department.hospital.address }}</li>
                <li class="hospital_phone"><span class="title">Téléphone :</span> <a href="tel:{{ department.hospital.phone }}">{{ department.hospital.phone }}</a></li>
                <li class="hospital_web"><a href="{{ department.hospital.web }}">Site web</a></li>
            </ul>
            <div class="list-group-item">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn pull-right">
                        <a href="{{ path('GCore_FSAEditHospitalDescription', { 'id': department.hospital.id, 'limit': limit }) }}" title="Modifier la description de l'hôpital '{{ department.hospital.name }}'">
                            {{ icon('pencil') }} Modifier
                        </a>
                    </div>
                {% endif %}
                <div class="title">Description :</div>
                <div>{{ department.hospital.description|raw }}</div>
            </div>
        </div>

        <div class="tab-pane fade" id="agrement">
            <ul class="list-group">
                {% for accreditation in department.accreditations %}
                    <li class="list-group-item">
                        De {{ accreditation.begin|date('F Y') }} à {{ accreditation.end|date('F Y') }} : {{ accreditation.sector.name }} sous la responsabilité de {{ accreditation.supervisor }}
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}
                            <span class="btn-group pull-right">
                                <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('GCore_FSAEditAccreditation', { 'id': accreditation.id, 'limit': limit }) }}" title="Modifier l'agrément du service '{{ department.name }}'">
                                            {{ icon('pencil') }} Modifier
                                        </a>
                                    </li>
                                    {% if 'ROLE_SUPERTEACHER' in accreditation.user.roles %}
                                        <li>
                                            <a href="{{ path('GCore_FSADemote', {'id': accreditation.id, 'limit': limit}) }}" title="Démettre l'enseignant '{{ accreditation.supervisor }}'">
                                                {{ icon('star') }} Démettre
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('GCore_FSAPromote', {'id': accreditation.id, 'limit': limit}) }}" title="Promouvoir l'enseignant '{{ accreditation.supervisor }}'">
                                                {{ icon('star-empty') }} Promouvoir
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}
                <div class="btn pull-right">
                    <a href="{{ path('GCore_FSANewAccreditation', {'id': department.id, 'limit': limit }) }}" title="Ajouter un agrément">
                        {{ icon('plus') }} Ajouter agrément
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="tab-pane fade list-group" id="cluster">
            {% for cluster in clusters %}
                <div class="entities list-group-item">
                    <div class="title">{{ cluster['period'].name }} :</div>
                    <ul class="subentities">
                        {% for repartition in cluster['repartitions'] %}
                            {% if repartition.department.id != department.id %}
                                <li class="subentity">
                                    <a href="{{ path('GCore_FSShowDepartment', { 'id': repartition.department.id, 'limit': limit }) }}">{{ repartition.department }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    {% if evaluated is not null %}
        {% for placement_id, evaluations in evaluated %}
            {% if evaluations %}
                <div class="content">Vous avez évalué ce terrain de stage.</div>
            {% else  %}
                <div classe="content"><a href="{{ path('GEval_DEval', {'id': placement_id}) }}" title="Évaluer le terrain de stage '{{ department }}'">Evaluer ce stage</a></div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
