{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}{{ department.name }}{% endblock %}
{% block content %}
<div>Chef de service : {{ department.head }}</div>
<div>
  <ul>
    <li><a href="{{ path('GCore_FSIndex') }}" title="Retour à la liste des terrains">Retour</a></li>
    <li><a href="{{ path('GCore_FSAEditDepartmentDescription', {id: department.id}) }}" title="Modifier la description du service '{{ department.name }}'">Modifier</a></li>
  </ul>
</div>
<div>{{ department.description }}</div>
{% endblock %}
