{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}{{ hospital.name }}{% endblock %}
{% block content %}
  <ul class="actions">
      <li><a href="{{ path('GCore_FSIndex') }}" title="Retour à la liste des terrains"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour"></a></li>
    {% if is_granted('ROLE_ADMIN') %}
      <li><a href="{{ path('GCore_FSAEditHospitalDescription', {id: hospital.id}) }}" title="Modifier la description de l'hôpital '{{ hospital.name }}'"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a>
    {% endif %}
  </ul>

    <ul class="content">
        <li class="hospital_address">Adresse : {{ hospital.address }}</li>
        <li class="hospital_phone">Téléphone : <a href="tel:{{ hospital.phone }}">{{ hospital.phone }}</a></li>
        <li class="hospital_web"><a href="{{ hospital.web }}">Site web</a></li>
    </ul>

    <div class="content">{{ hospital.description|raw }}</div>
{% endblock %}
