{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}{{ department.name }}{% endblock %}
{% block content %}
<div>Chef de service : {{ department.head }}</div>
<div>
  <ul>
    <li><a href="{{ path('GCore_FSIndex') }}">Retour</a></li>
    <li><a href="{{ path('GCore_FSAEditDepartment', {id: department.id}) }}">Modifier</a></li>
  </ul>
</div>
<div>{{ department.description }}</div>
{% endblock %}
