{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Stages{% endblock %}

{% block titlecontent %}Mes stages{% endblock %}

{% block content %}
    <ul class="entities placements">
        <li class="title row">
            <div class="col-sm-2">Période de stage</div>
            <div class="col-sm-3">Terrain de stage</div>
            <div class="col-sm-3">Hôpital</div>
            <div class="col-sm-2">Agréments</div>
            <div class="col-sm-2">Actions</div>
        </li>
        {% for placement in placements %}
            <li class="field entity placement row">
                <div class="field entity_item period col-sm-2">{{ placement.repartition.period }} : </div>
                <div class="field entity_item fieldset col-sm-3">{{ placement.repartition.department.name }}</div>
                <div class="field entity_item fieldset col-sm-3">{{ placement.repartition.department.hospital }}</div>
                <ul class="field entity_item department_sector col-sm-2">
                    {% for accreditation in placement.repartition.department.accreditations %}
                        <li>{{ accreditation.sector.name }}</li>
                    {% endfor %}
                </ul>
                <ul class="actions col-sm-2">
                    <li><a href="{{ path('GUser_SListStudents', { 'id': placement.id })}}" title="Voir les autres étudiants"><img src="{{ asset('bundles/gessehcore/images/User.png') }}" alt="Co-internes"></a></li>
                    {% if kparam('eval_active') == true %}
                        {% if placement.id not in evaluated %}
                            <li class="nonevaluated">
                                <a href="{{ path('GEval_DEval', { 'id': placement.id }) }}" title="Évaluer le stage"><img src="{{ asset('bundles/gessehcore/images/File_List.png') }}" alt="Évaluer"/></a>
                            </li>
                        {% else %}
                            <li class="evaluated">
                                <a href="{{ path('GCore_PIndex') }}"><img src="{{ asset('bundles/gessehcore/images/Checkmark.png') }}" alt="Évaluation" /></a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        {% else %}
            <li class="field noentity error">Aucun stage effectué</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehevaluation/js/clickEval.js') }}" type="text/javascript"></script>
{% endblock %}
