{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Stages{% endblock %}

{% block titlecontent %}Mes stages{% endblock %}

{% block content %}
    <ul class="entities placements">
        {% for placement in placements %}
            <li class="field entity placement">
                {% if kparam('eval_active') == true %}
                    <ul class="actions">
                        {% if placement.id not in evaluated %}
                            <li class="nonevaluated">
                                <a href="{{ path('GEval_DEval', { 'id': placement.id }) }}" title="Évaluer le stage"><img src="{{ asset('bundles/gessehcore/images/File_List.png') }}" /></a>
                            </li>
                        {% else %}
                            <li class="evaluated">
                                <a href="{{ path('GCore_PIndex') }}"><img src="{{ asset('bundles/gessehcore/images/Checkmark.png') }}" alt="Évaluation" /></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                <div class="field entity_item period">{{ placement.period }} : </div>
                <div class="field entity_item fieldset">{{ placement.department.name }} à {{ placement.department.hospital }}</div>
                <div class="field entity_item department_sector">({{ placement.department.sector.name }})</div>
                <ul class="actions">
                    <li><a href="{{ path('GUser_SListStudents', { 'id': placement.id })}}" title="Voir les autres étudiants">Co-internes</a></li>
                </ul>
            </li>
        {% else %}
            <li class="field noentity error">Aucun stage effectué</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehevaluation/js/clickEval.js') }}" type="text/javascript"></script>
{% endblock %}
