{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Mes stages{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Session</th>
        <th>Hôpital</th>
        <th>Service</th>
        <th>Catégorie</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for placement in placements %}
        <tr>
          <td>{{ placement.period }}</td>
          <td>{{ placement.department.hospital }}</td>
          <td>{{ placement.department.name }}</td>
          <td>{{ placement.department.sector.name }}</td>
          <td>
            <ul>
              {% if true %}
                {% if placement.id not in evaluated %}
                  <li><a href="{{ path('GEval_DEval', { 'id': placement.id }) }}" title="Évaluer le stage">Évaluer</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </td>
        <tr>
      {% else %}
        <tr>
          <td colspan=5>Aucun stage effectué</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

