{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/main.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block logo %}{{ parent() }}{% endblock %}

{% block sitename %}{{ parent() }}{% endblock %}

{% block nav %}
  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if is_granted('ROLE_STUDENT') %}
      <div class="header">Étudiant</div>
      {{ knp_menu_render('student') }}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <div class="header">Administation</div>
      {{ knp_menu_render('admin', {'currentAsLink': false}) }}
    {% endif %}
  {% else %}
    {{ knp_menu_render('anon') }}
  {% endif %}
{% endblock %}

{% block body %}
  <h1>{% block titlecontent %}{% endblock %}</h1>

  {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
      <div class="flash{{ type }}">{{ flashMessage }}</div>
    {% endfor %}
  {% endfor %}


  <ul id="submenu">{% block actionscontent %}{% endblock %}</ul>

  <div>{% block content %}{% endblock %}</div>
{% endblock %}

{% block javascripts %}
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
