{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/main.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block logo %}{{ parent() }}{% endblock %}

{% block sitename %}{{ parent() }}{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
  <h1>{% block titlecontent %}{% endblock %}</h1>
  <ul>{% block actionscontent %}{% endblock %}</ul>
  <div>{% block content %}{% endblock %}</div>
{% endblock %}

{# {% block javascripts %}{% endblock %} #}
