{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Évaluations du stage '{{ placement.repartition.department.name }} à {{ placement.repartition.department.hospital.name }} du {{ placement.repartition.period.begin|date('d-m-Y') }} au {{ placement.repartition.period.end|date('d-m-Y') }}'{% endblock %}

{% block content %}
  {% if eval_form is not null %}
    {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" title="Valider l'évaluation du stage. Vous ne pourrez plus revenir en arrière.">Valider</button>
    {{ form_end(form) }}
  {% else %}
    <div>Il n'y a aucun formulaire d'évaluation défini pour ce stage. Veuillez contacter un administrateur.</div>
  {% endif %}
{% endblock %}
