{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Évaluations du stage '{{ placement.repartition.department.name }} à {{ placement.repartition.department.hospital.name }} du {{ placement.repartition.period.begin|date('d-m-Y') }} au {{ placement.repartition.period.end|date('d-m-Y') }}'{% endblock %}

{% block content %}
  {% if form is not null %}
    {{ form(form) }}
  {% else %}
    <div>Il n'y a aucun formulaire d'évaluation défini pour ce stage. Veuillez contacter un administrateur.</div>
  {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}
