{% extends 'GessehCoreBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% block title %}{{ parent() }} - {{ department.name }} à {{ department.hospital.name }} : évaluations{% endblock %}
{% block titlecontent %}{{ department.name }} à {{ department.hospital.name }} : évaluations{% endblock %}

{% block actionscontent %}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('GCore_FSShowDepartment', {'id': department.id}) }}#description">
                {{ icon('info-sign') }} Description
            </a>
        </li>
        <li>
            <a href="{{ path('GCore_FSShowDepartment', {'id': department.id}) }}#hopital">
                {{ icon('home') }} Structure de soins
            </a>
        </li>
        <li>
            <a href="{{ path('GCore_FSShowDepartment', {'id': department.id}) }}#agrement">
                {{ icon('certificate') }} Agréments
            </a>
        </li>
        <li class="active">
            <a href="#evaluation" title="Afficher les évaluations pour ce service">
                {{ icon('stats') }} Evaluations
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('GCore_PAPlacementIndex', { 'limit': { 'type': 'd.id', 'value': department.id, 'description': department.name ~ ' à ' ~ department.hospital.name }}) }}" title="Afficher les stages associés au service '{{ department.name }}'">
                    {{ icon('list-alt') }} Stages
                </a>
            </li>
            <li>
                <a href="{{ path('GCore_PARepartitionsDepartment', {'department_id': department.id}) }}" title="Modifier la répartition du service '{{ department }}'">
                    {{ icon('briefcase') }} Postes
                </a>
            </li>
            <li class="delete">
                <a href="{{ path('GCore_FSADeleteDepartment', { 'id': department.id }) }}" title="Supprimer le service '{{ department.name }}'" class="confirm delete" confirm="Attention ! Supprimer ce terrain de stage suprimera également toutes les données qui s'y rapportent (stages, évaluations, etc). Confirmez-vous la suppression ?">
                    {{ icon('trash') }} Supprimer
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <ul class="evaluation tab-pane active list-group" id="evaluation">
            {% set rank = 0 %}
            {% for item in eval %}
                {% set rank = rank + 1 %}

                <li class="list-group-item criteria {{ cycle(['odd', 'even'], loop.index0) }} row">
                    <div class="col-sm-1">{{ rank }}</div>
                    {% if item['type'] == 2 %}
                        <div class="title col-sm-5">{{ item['name'] }}</div>
                        <ul class="comments col-sm-12">
                            {% for comment in item['text'] %}
                                <li class="comment {{ cycle(['subodd', 'subeven'], loop.index0) }}">{{ comment }}</li>
                            {% endfor %}
                        </ul>
                    {% elseif item['type'] == 1 or item['type'] == 7 %}
                        <div class="title title col-sm-5">{{ item['name'] }}</div>
                        <div class="mean col-sm-5" title="Évaluations antérieures : {% for period,mean in item['mean'] %}{% if period > 0 %}{{ mean }} ({{ item['total'][period] }}) ; {% endif %}{% endfor %}"><progress class="bar" value="{{ item['mean'][0] }}" max="100">{{ item['mean'][0] }}</progress></div>
                        <div class="total col-sm-1" title="{{ item['total'][0] }} {% if item['total'][0] > 1 %}évaluations{% else %} évaluation{% endif %}">{{ badge(item['total'][0]) }}</div>
                    {% elseif item['type'] == 3 %}
                        <div class="title col-sm-5">{{ item['name'] }}</div>
                        <ul class="tags col-sm-5">
                            {% for tag,size in item['size'][0] %}
                                <li class="tag">{{ label(tag, 'info') }}</li>
                            {% endfor %}
                        </ul>
                    {% elseif item['type'] == 4 %}
                        <div class="title col-sm-5">{{ item['name'] }}</div>
                        <div class="mean col-sm-5">{{ label(item['mean'][0], 'info') }}</div>
                        <div class="total col-sm-1" title="{{ item['total'][0] }} {% if item['total'][0] > 1 %}évaluations{% else %} évaluation{% endif %}">{{ badge(item['total'][0]) }}</div>
                    {% elseif item['type'] == 5 or item['type'] == 6 %}
                        <div class="title col-sm-5">{{ item['name'] }}</div>
                        {% set max = 0 %}
                        {% for tag,count in item['count'][0] %}
                            {% if max < item['max'] %}
                                <div class="tag col-sm-5">{{ label(tag, 'info') }}</div>
                                <div class="count col-sm-1" title="{{ item['count'][0][tag] }} {% if item['count'][0][tag] > 1 %}évaluations{% else %} évaluation{% endif %}">{{ badge(item['count'][0][tag]) }}</div>
                            {% endif %}
                            {% set max = max + 1 %}
                        {% endfor %}
                    {% else %}
                        <div class="col-sm-5">{{ item['type'] }}</div>
                    {% endif %}
                </li>
            {% else %}
                <div class="list-group-item criteria">Aucune évaluation pour le terrain de stage.</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
