{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Évaluations du stage '{{ department.name }} à {{ department.hospital.name }}'{% endblock %}

{% block content %}
  <h2>Évaluations numériques</h2>
  <table>
    <thead>
      <tr>
        <th>Critère</th>
        <th class="small">Moyenne</th>
        <th class="small">Évaluations</th>
      </tr>
    </thead>
    <tbody>
      {% for criteria in eval_num %}
        <tr>
          <td>{{ criteria['name'] }}</td>
          <td class="small">{{ criteria['mean'] }}</td>
          <td class="small">{{ criteria['count'] }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan=2>Aucune évaluation numérique.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Évaluations textuelles</h2>
  {% for text in eval_text %}
    <div>
      <div>{{ text.evalCriteria.name }} (enregistré le {{ text.createdAt|date('d-m-Y') }})</div>
      <div>{{ text.value }}</div>
    </div>
  {% else %}
    <div>Aucun commentaire.</div>
  {% endfor %}
{% endblock %}
