{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Questions complémentaires{% endblock %}

{% block titlecontent %}
    Questions complémentaires
    {% if userid is not null %}({{ student }}){% endif %}
{% endblock %}

{% block actionscontent %}
    <li class="btn btn-primary">
        <a href="{{ path('GRegister_UIndex') }}?{{ app.request.queryString }}" title="Retour à la liste des adhésions">
            <span class="glyphicon glyphicon-th-list"></span>
            Adhésions
        </a>
    </li>
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        {% for info in infos %}
            <li class="entity memberinfo list-group-item">
                <div class="field title">{{ info.question.name }} : </div>
                <div class="field response">{{ info.value }}</div>
            </li>
        {% else %}
            <li class="noentity list-group-item">Aucune réponse aux questions complémentaires</li>
        {% endfor %}
    </ul>
{% endblock %}
