<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Gesseh{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('bundles/gessehcore/css/main.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/gessehcore/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
          <header id="header">
            <nav>{% block usernav %}<a href="">Se connecter</a>{% endblock %}</nav>
            <span>{% block logo %}<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/gessehcore/images/gesseh_logo.png') }}" alt="logo" /></a>{% endblock %}</span>
            <span><h1>{% block site %}Nom du site{% endblock %}</h1><span>
          </header>
          <nav id="menu">
            {% block nav %}
              <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('admin_hp') }}">Adminstration</a></li>
              </ul>
            {% endblock %}
          </nav>
          <section id="content">
            {% block body %}{% endblock %}
          </section>
          <footer id="footer">
            <span class="miniature"><a href="http://code.google.com/p/gesseh/"><img src="{{ asset('bundles/gessehcore/images/gesseh_logo_small.png') }}" alt="gesseh" /></a> powered by <a href="http://www.symfony-project.org/"><img src="{{ asset('bundles/gessehcore/images/symfony.gif') }}" alt="symfony" /></a></span>
            <ul>
              <li><a href="http://code.google.com/p/gesseh/issues/list">Reporter un bug ou un souhait</a></li>
              <li><a href="http://code.google.com/p/gesseh/w/list">Assistance - documentation</a></li>
            </ul>
          </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
