<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta name="application-name" content="GESSEH" />
        <meta name="author" content="Pierre-François Angrand" />
        <meta name="description" content="" />
        <meta name="keywords" content="choix de stage, simulation, interne, internat, {{ kparam('title') }}, évaluations de stage" />
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ kparam('title') }}{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('bundles/gessehcore/css/main.css') }}" type="text/css" rel="stylesheet" media="all" />{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/gessehcore/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
          <header id="header">
            <nav>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('GUser_SEdit') }}" title="Modifier mes informations personnelles">{{ app.user.username }}</a> | <a href="{{ path('fos_user_security_logout') }}" title="Se déconnecter">se déconnecter</a>
              {% else %}
                <a href="{{ path('fos_user_security_login') }}" title="Se connecter">Se connecter</a> | <a href="{{ path('fos_user_resetting_request') }}" title="Réinitialiser le mot de passe">Mot de passe oublié</a>
              {% endif %}
            </nav>
            <span>{% block logo %}<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/gessehcore/images/gesseh_logo.png') }}" alt="logo" /></a>{% endblock %}</span>
            <h1>{% block site %}{{ kparam('title') }}{% endblock %}</h1>
          </header>
          <nav id="menu">
            {% block nav %}
              <ul>
                <li><a href="{{ path('homepage') }}" title="Page d'accueil">Accueil</a></li>
                <li><a href="{{ path('admin_hp') }}" title="Administrer le site">Administration</a></li>
              </ul>
            {% endblock %}
          </nav>
          <section id="content">
            {% block body %}{% endblock %}
          </section>
          <footer id="footer">
            <span class="miniature"><a href=https://github.com/CaraGk/gessehh"><img src="{{ asset('bundles/gessehcore/images/gesseh_logo_small.png') }}" alt="gesseh" /></a> powered by <a href="http://symfony.com/"><img src="{{ asset('bundles/gessehcore/images/symfony_logo.png') }}" alt="symfony 2" /></a></span>
            <ul>
              <li><a href="https://github.com/CaraGk/gesseh/issues">Reporter un bug ou un souhait</a></li>
            </ul>
          </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
