{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block head_style %}
    {% stylesheets filter="cssrewrite,lessphp" output="css/main.css"
        '@GessehCoreBundle/Resources/public/less/main.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% if diagnostic_mode %}
        <link href="{{ asset('bundles/mopabootstrap/css/diagnostic.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
{% endblock head_style %}

{% block title %}
    {{ kparam('title') }}
{% endblock title %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('bundles/gessehcore/images/favicon.ico') }}" />
{% endblock favicon %}

{% block head_bottom %}
    <meta name="application-name" content="GESSEH" />
{% endblock head_bottom %}

{% block body_tag %}
    <body>
{% endblock body_tag %}

{% block container_div_start %}
    <div class="container-fluid">
{% endblock container_div_start %}

{% block page_header %}
<header id="header" class="row" style="background-color: {{ kparam('header_color') }};">
    {% if kparam('header_show') == 'both' or kparam('header_show') == 'logo' %}
        <span class="hidden-xs">
            {% block logo %}<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/gessehcore/images/entete.png') }}" alt="logo" /></a>{% endblock logo %}
        </span>
    {% endif %}
    {% if kparam('header_show') == 'both' or kparam('header_show') == 'title' %}
        <h1>{% block headline %}{{ kparam('title') }}{% endblock headline %}</h1>
    {% endif %}
    <h2 class="">{% block titlecontent %}{% endblock titlecontent %}</h2>
</header>

<nav id="menu" class="navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            {{ icon('menu-hamburger') }}
        </button>
    </div>
    <div class="collapse navbar-collapse pull-right" id="navbar">
        {% block nav %}{% endblock nav %}
    </div>
</nav>
{% endblock page_header %}

{% block flashes %}{{ parent() }}{% endblock flashes %}

{% block content_row %}
    <section id="content" class="">
            <ul id="submenu" class="btn-group">{% block actionscontent %}{% endblock actionscontent %}</ul>
            <div class="content">{% block content %}{% endblock content %}</div>
    </section>
{% endblock %}

{% block footer_tag_start %}
<footer id="footer" class="row">
{% endblock footer_tag_start %}

{% block footer %}
<ul class="col-sm-6 col-xs-12 text-center">
    <li><a href="https://github.com/CaraGk/gesseh/issues">Reporter un bug ou un souhait</a></li>
</ul>
<div class="miniature col-sm-6 col-xs-12">
    <a href="https://github.com/CaraGk/gesseh"><img src="{{ asset('bundles/gessehcore/images/gesseh_logo_small.png') }}" alt="gesseh" /></a> powered by <a href="http://symfony.com/"><img src="{{ asset('bundles/gessehcore/images/symfony_logo.png') }}" alt="symfony 2" /></a>
</div>
{% endblock footer %}

{% block foot_script_assetic %}
{{ parent() }}
{% block javascripts %}
{% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/*.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(function(){
        $('[data-provider="datepicker"]').datetimepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'fr',
            minView: 'month',
            pickerPosition: 'bottom-left',
            todayBtn: true,
            startView: 'month'
        });

        $('[data-provider="datetimepicker"]').datetimepicker({
            autoclose: true,
            format: 'dd/mm/yyyy hh:ii',
            language: 'fr',
            pickerPosition: 'bottom-left',
            todayBtn: true
        });

        $('[data-provider="timepicker"]').datetimepicker({
            autoclose: true,
            format: 'hh:ii',
            formatViewType: 'time',
            maxView: 'day',
            minView: 'hour',
            pickerPosition: 'bottom-left',
            startView: 'day'
        });

        // Restore value from hidden input
        $('input[type=hidden]', '.date').each(function(){
            if($(this).val()) {
                $(this).parent().datetimepicker('setValue');
            }
        });

    });
</script>
{% endblock javascripts %}

{% endblock foot_script_assetic %}
