{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Adhérents{% endblock %}

{% block titlecontent %}Adhérents actuels ({{ count }}){% endblock %}

{% block actionscontent %}
    <li class="btn btn-primary">
        <a href="{{ path('GRegister_AExport') }}">
            {{ icon('export') }} Exporter (xls)
        </a>
    </li>
{% endblock %}

{% block content %}
    <ul class="list-group col-sm-3">
        <li class="list-group-item">
            <div class="title list-group-item-heading">Validation</div>
            {% if filters['valid'] is not null %}
                <div class="item set"><a href="{{ path('GRegister_ARemoveFilter', {'type': 'valid', 'id': 0}) }}" title="Supprimer le filtre par adhésion">{{ filters['valid'] }}</a></div>
            {% else %}
                <div class="item"><a href="{{ path('GRegister_AAddFilter', {'type': 'valid', 'id': 0, 'value': 1}) }}" title="Filtrer par adhésion validée">Oui</a></div>
                <div class="item"><a href="{{ path('GRegister_AAddFilter', {'type': 'valid', 'id': 0, 'value': 0}) }}" title="Filtrer par adhésion non validée">Non</a></div>
            {% endif %}
        </li>
        {% for question in questions %}
            <li class="list-group-item">
                <div class="title list-group-item-heading">{{ question.name }}</div>
                {% if filters['questions'][question.id] is defined %}
                    <div class="item"><a href="{{ path('GRegister_ARemoveFilter', {'type': 'questions', 'id': question.id}) }}" title="Suprimer le filtre {{ question.name }} : {{ filters['questions'][question.id] }}">{{ filters['questions'][question.id] }}</a></div>
                {% else %}
                    {% for answer in question.more %}
                        <div class="item"><a href="{{ path('GRegister_AAddFilter', {'type': 'questions', 'id': question.id, 'value': answer}) }}" title="Filtrer par {{ question.name }} : {{ answer }}">{{ answer }}</a></div>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul class="col-sm-9 list-group">
    {% for membership in memberships %}
        <li class="entity student list-group-item row">
            <span class="btn-group pull-right">
                <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="action">
                        <a href="{{ path('GUser_SShow', {'userid': membership.student.user.id}) }}" title="Afficher le détail des adhésions de l'étudiant">
                            {{ icon('user') }} Informations
                        </a>
                    </li>
                    {% if membership.payedOn is null %}
                        <li class="action">
                            <a href="{{ path('GRegister_AValidate', {'id': membership.id, 'userid': membership.student.user.id, view: 'index'}) }}" title="Valider la réception du paiement pour cette adhésion">
                                {{ icon('ok') }} Valider
                            </a>
                        </li>
                        <li class="action">
                            <a href="{{ path('GRegister_ADelete', {'id': membership.id, 'userid': membership.student.user.id, 'view': 'index'}) }}" title="Supprimer cette adhésion">
                                {{ icon('remove') }} Supprimer
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </span>

            <div class="col-sm-3">{{ membership.student }}</div>
            <div class="col-sm-8">
                {% if membership.payedOn is not null %}
                    Paiement par {% if membership.method is not null %}{{ membership.method.description|lower }}{% else %}un moyen inconnu{% endif %} effectué ({{ membership.payedOn|date('d/m/Y') }})
                {% else %}
                {% endif %}
            </div>
        </li>
    {% else %}
        <li>Aucune adhésion enregistrée.</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehregister/js/filter.js') }}" type="text/javascript"></script>
{% endblock %}
