<tr>
  <td>{{ period.begin|date('d-m-Y') }}</td>
  <td>{{ period.end|date('d-m-Y') }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GCore_PAEditPeriod', {'id': period.id}) }}" title="Modifier la session '{{ period }}'">Modifier</a></li>
      <li><a href="{{ path('GCore_PADeletePeriod', {'id': period.id}) }}" title="Supprimer la session '{{ period }}'" class="confirm">Supprimer</a></li>
    </ul>
  </td>
</tr>
