<tr>
  <td>{{ placement.period }}</td>
  <td><a href="{{ path('GCore_PAIndex', {'limit': {'type': 's.id', 'value': placement.student.id}}) }}" title="Afficher les stages de l'étudiant {{ placement.student }}">{{ placement.student }}</a></td>
  <td><a href="{{ path('GCore_PAIndex', {'limit': {'type': 'd.id', 'value': placement.department.id}}) }}" title="Afficher les étudiants par stage dans le service {{ placement.department }}">{{ placement.department }}</a></td>
  {% if kparam('eval_active') == true %}
    <td class="small">
      {% if placement.id in evaluated %}
        oui
      {% else %}
        non
      {% endif %}
    </td>
  {% endif %}
  <td class="actions">
    <ul>
      <li><a href="{{ path('GCore_PAEditPlacement', {'id': placement.id}) }}?{{ app.request.queryString }}#placement_{{ placement.id }}" title="Modifier le stage"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
      <li><a href="{{ path('GCore_PADeletePlacement', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Supprimer le stage" class="confirm"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
      {% if kparam('eval_active') == true and placement.id not in evaluated %}<li><a href="" title="Envoyer un message de rappel"><img src="{{ asset('bundles/gessehcore/images/Mail_Add.png') }}" alt="Rappel" /></a></li>{% endif %}
    </ul>
  </td>
</tr>
