{% if kparam('eval_active') == true %}
    {% if placement.id in evaluated %}
    <li class="entity placement evaluated list-group-item row">
        <div class="field is_evaluated col-sm-1" title="Évalué">
            <a href="{{ path('GEval_ADeleteEval', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Supprimer l'évaluation du stage" class="confirm delete" confirm="Attention ! Vous vous apprêtez à supprimer complètement cette évaluation. L'étudiant devra réévaluer son stage. Confirmez-vous ?">
            <a href="{{ path('GEval_DShowStudent', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Afficher l'évaluation du stage" class="">
                <img src="{{ asset('bundles/gessehcore/images/Valid.png') }}" alt="Évalué : supprimer l'évaluation ?" />
            </a>
        </div>
    {% else %}
        <li class="entity placement list-group-item row">
            <div class="field is_evaluated col-sm-1" title="Non évalué">
                <img src="{{ asset('bundles/gessehcore/images/Error.png') }}" alt="Non évalué" />
            </div>
    {% endif %}
{% else %}
    <li class="entity placement list-group-item row">
{% endif %}
    <div class="field placement_period col-sm-2">{{ placement.repartition.period }}</div>
    <div class="field placement_student col-sm-3"><a href="{{ path('GCore_PAPlacementIndex', {'limit': {'type': 's.id', 'value': placement.student.id, 'description': placement.student.surname ~ ' ' ~ placement.student.name}}) }}" title="Afficher les stages de l'étudiant {{ placement.student }}">{{ placement.student }}</a></div>
    <div class="field placement_department col-sm-4"><a href="{{ path('GCore_PAPlacementIndex', {'limit': {'type': 'd.id', 'value': placement.repartition.department.id, 'description': placement.repartition.department.name ~ ' à ' ~ placement.repartition.department.hospital.name}}) }}" title="Afficher les étudiants par stage dans le service {{ placement.repartition.department }}">{{ placement.repartition.department }}</a></div>
    <ul class="actions col-sm-2">
        <li class=""><a href="{{ path('GCore_PAPlacementEdit', {'id': placement.id}) }}?{{ app.request.queryString }}#placement_{{ placement.id }}" title="Modifier le stage" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
        <li class=""><a href="{{ path('GCore_PAPlacementDelete', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Supprimer le stage" class="confirm delete" confirm="Attention ! Cette opération va supprimer le stage et tous les éléments qui s'y rapportent. Voulez-vous continuer ?"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
        {% if false %}{% if kparam('eval_active') == true and placement.id not in evaluated %}
            <li class=""><a href="" title="Envoyer un message de rappel"><img src="{{ asset('bundles/gessehcore/images/Mail_Add.png') }}" alt="Rappel" /></a></li>
        {% endif %}{% endif %}
    </ul>
</li>
