{% if kparam('eval_active') == true %}
    {% if placement.id in evaluated %}
    <li class="entity placement evaluated">
        <div class="field is_evaluated" title="Évalué">
            <a href="{{ path('GEval_ADeleteEval', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Supprimer l'évaluation du stage" class="confirm delete" confirm="Attention ! Vous vous apprêtez à supprimer complètement cette évaluation. L'étudiant devra réévaluer son stage. Confirmez-vous ?">
                <img src="{{ asset('bundles/gessehcore/images/Valid.png') }}" alt="Évalué : supprimer l'évaluation ?" />
            </a>
        </div>
    {% else %}
        <li class="entity placement">
            <div class="field is_evaluated" title="Non évalué">
                <img src="{{ asset('bundles/gessehcore/images/Error.png') }}" alt="Non évalué" />
            </div>
    {% endif %}
{% endif %}
    <div class="field placement_period">{{ placement.period }}</div>
    <div class="field placement_student"><a href="{{ path('GCore_PAPlacementIndex', {'limit': {'type': 's.id', 'value': placement.student.id, 'description': placement.student.surname ~ ' ' ~ placement.student.name}}) }}" title="Afficher les stages de l'étudiant {{ placement.student }}">{{ placement.student }}</a></div>
    <div class="field placement_department"><a href="{{ path('GCore_PAPlacementIndex', {'limit': {'type': 'd.id', 'value': placement.department.id, 'description': placement.department.name ~ ' à ' ~ placement.department.hospital.name}}) }}" title="Afficher les étudiants par stage dans le service {{ placement.department }}">{{ placement.department }}</a></div>
    <ul class="actions">
        <li class=""><a href="{{ path('GCore_PAPlacementEdit', {'id': placement.id}) }}?{{ app.request.queryString }}#placement_{{ placement.id }}" title="Modifier le stage" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
        <li class=""><a href="{{ path('GCore_PAPlacementDelete', {'id': placement.id}) }}?{{ app.request.queryString }}" title="Supprimer le stage" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
        {% if false %}{% if kparam('eval_active') == true and placement.id not in evaluated %}
            <li class=""><a href="" title="Envoyer un message de rappel"><img src="{{ asset('bundles/gessehcore/images/Mail_Add.png') }}" alt="Rappel" /></a></li>
        {% endif %}{% endif %}
    </ul>
</li>
