{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block titlecontent %}Mon profil{% endblock %}

{% block actionscontent %}
    {% if kparam('reg_active') %}
        <li class="btn btn-primary">
            <a href="{{ path('GUser_SEdit', {'redirect': 'GRegister_UJoin'})}}&&{{ app.request.queryString }}" title="(Ré-)adhérer à la structure">
                {{ icon('euro') }} Adhérer
            </a>
        </li>
    {% endif %}
    {% if kparam('simul_active') %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SIndex')}}&&{{ app.request.queryString }}" title="Afficher mes simulations de choix de poste">
                {{ icon('record') }} Simulations
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Mes informations
        </div>
        <ul class="panel-body list-group">
            <li class="list-group-item row">
                <span class="btn btn-primary pull-right">
                    <a href="{{ path('GUser_SEdit') }}" title="Modifier">
                        {{ icon('edit') }} Modifier
                    </a>
                </span>
                <div class="title">État-civil :</div>
                <div class="">{{ student.title }} {{ student.surname }} {{ student.name }}</div>
                <div class="">Naissance : {{ student.birthday|date('d-m-Y') }} à {{ student.birthplace }}</div>
            </li>
            <li class="list-group-item row">
                <span class="btn btn-primary pull-right">
                    <a href="{{ path('fos_user_change_password') }}" title="Modifier le mot de passe">
                        {{ icon('edit') }} Modifier
                    </a>
                </span>
                <div class="title">Contact :</div>
                <div class="">Téléphone : {{ student.phone }}</div>
                <div class="">E-mail : {{ student.user.email }}</div>
                <div class="">Adresse : {% for item in student.address %} {{ item }} {% endfor %}</div>
            </li>
        </ul>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Mes stages
        </div>
        <ul class="panel-body entities placements list-group">
            {% for placement in placements %}
                <li class="field entity placement list-group-item row">
                    <span class="btn-group pull-right">
                        <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('GUser_SListStudents', { 'id': placement.id })}}" title="Voir les autres étudiants">
                                    {{ icon('user') }} Co-internes
                                </a>
                            </li>
                            {% if kparam('eval_active') == true %}
                                {% if placement.id not in evaluated %}
                                    <li class="nonevaluated">
                                        <a href="{{ path('GEval_DEval', { 'id': placement.id }) }}" title="Évaluer le stage">
                                            {{ icon('check') }} Évaluer
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="evaluated ">
                                        <a href="{{ path('GCore_PIndex') }}">
                                            {{ icon('ok') }} Évalué
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </span>
                    <div class="fieldset">{{ placement.repartition.department.name }} à {{ placement.repartition.department.hospital }}</div>
                    <div class="period">Période : {{ placement.repartition.period }}</div>
                    <div class="department_sector">Agrément(s) :
                        <ul class="">
                            {% for accreditation in placement.repartition.department.accreditations %}
                                <li class="label label-info">{{ accreditation.sector.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
               </li>
            {% else %}
               <li class="field noentity error">Aucun stage effectué</li>
            {% endfor %}
        </ul>
    </div>

    {% if kparam('reg_active') %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                Mes adhésions
            </div>
            <ul class="panel-body entities list-group">
                {% for membership in memberships %}
                    <li class="list-group-item row">
                        <span class="btn-group pull-right">
                            <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('GRegister_UInfos', {'memberid': membership.id, 'userid': userid}) }}" title="Afficher les réponses aux questions complémentaires">
                                        {{ icon('question-sign') }} Questions complémentaires
                                    </a>
                                </li>
                                {% if membership.payedOn is null %}
                                    <li>
                                        <a href="{{ path('GRegister_ADelete', {'id': membership.id, 'userid': userid}) }}" title="Supprimer cette adhésion">
                                            {{ icon('remove-circle') }} Supprimer
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('GRegister_AValidate', {'id': membership.id, 'userid': userid}) }}" title="Valider la réception du paiement pour cette adhésion">
                                                {{ icon('ok-circle') }} Valider
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </span>
                        <div>
                            Adhésion jusqu'au {{ membership.expiredOn|date('d/m/Y') }} payée ({{ membership.amount }} €) par {% if membership.method is not null %}{{ membership.method.description|lower }}{% else %}un moyen inconnu{% endif %}
                            {% if membership.payedOn is not null %}
                                le {{ membership.payedOn|date('d/m/Y') }}.
                            {% else %}
                                ; la transaction n'a pas été validée.
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">Aucune adhésion enregistrée.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehevaluation/js/clickEval.js') }}" type="text/javascript"></script>
{% endblock %}
