<tr>
  <td class="small">{{ grade.rank }}</td>
  <td>{{ grade.name }}</td>
  <td class="small">
    {% if grade.isActive %}
      oui
    {% else %}
      non
    {% endif %}
  </td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GUser_GAEdit', {'id': grade.id}) }}" title="Modifier la promotion '{{ grade }}'"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
      <li><a href="{{ path('GUser_GADelete', {'id': grade.id}) }}" title="Supprimer la promotion '{{ grade }}'" class="confirm delete" confirm="Attention ! Cette opération va supprimer tous les étudiants de cette promotion et toutes les informations liées. Cette action est irrévocable. Êtes-vous sûrs de vouloir continuer ?"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
    </ul>
  </td>
</tr>
