{{ form_start(form) }}
    <span>{{ form_widget(form.department) }}</span>
    <span>{{ form_widget(form.is_excess) }}</span>
    <span>{{ form_widget(form.active) }}</span>
    <span>{{ form_widget(form.Valider) }}</span>
    <span>{{ form_rest(form) }}</span>
{{ form_end(form) }}

