{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Simulation{% endblock %}

{% block titlecontent %}Résultats de la simulation{% endblock %}

{% block actionscontent %}
    {% if simulations is not empty %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SSim') }}" title="Lancer l'algorithme de simulation">
                {{ icon('refresh') }} Actualiser les simulations
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SASave') }}" title="Valider les simulation et les enregistrer dans les stages." class="confirm" confirm="Attention ! Valider les données va enregistrer les stages correspondants et supprimer la simulation actuelle. Souhaitez-vous continuer ?">
                {{ icon('ok-circle') }} Valider
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SAPurge') }}" title="Supprimer la table de simulation" class="confirm" confirm="Attention ! Cette opération va supprimer toutes les données concernant la simulation en cours. Souhaitez-vous continuer ?">
                {{ icon('trash') }} Supprimer
            </a>
        </li>
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SADefine') }}" title="Cliquez pour générer la table de simulation">
                {{ icon('off') }} Générer la table
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if simulations is not empty %}
        <div id="simul_progress">
            Progression de la simulation : <span>{{ simul_total - simul_missing }} / {{ simul_total }} participants</span>
            <progress class="progressbar" value="{{ (simul_total - simul_missing) / simul_total * 100 }}" max="100"></progress>
        </div>
        {{ include('GessehSimulationBundle:Simulation:simulations.html.twig', {'simulations': simulations}) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.valid').parent('li').addClass('valid');
            $('.invalid').parent('li').addClass('invalid');
            $('.grey').parent('li').addClass('grey');
            $('.warning').parent('li').addClass('warning');

            function find(name){
                return $.grep(purposeObjects, function(item){
                    return item.name == name;
                });
            };

        });
    </script>
{% endblock %}
