{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Simulation{% endblock %}

{% block titlecontent %}Résultats de la simulation{% endblock %}

{% block actionscontent %}
    {% if simulations is not empty %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SSim') }}" title="Lancer l'algorithme de simulation">
                {{ icon('refresh') }} Actualiser les simulations
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SASave') }}" title="Valider les simulation et les enregistrer dans les stages." class="confirm" confirm="Attention ! Valider les données va enregistrer les stages correspondants et supprimer la simulation actuelle. Souhaitez-vous continuer ?">
                {{ icon('ok-circle') }} Valider
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SAPurge') }}" title="Supprimer la table de simulation" class="confirm" confirm="Attention ! Cette opération va supprimer toutes les données concernant la simulation en cours. Souhaitez-vous continuer ?">
                {{ icon('trash') }} Supprimer
            </a>
        </li>
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SADefine') }}" title="Cliquez pour générer la table de simulation">
                {{ icon('off') }} Générer la table
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if simulations is not empty %}
        <div id="simul_progress">
            Progression de la simulation : <span>{{ simul_total - simul_missing }} / {{ simul_total }} participants</span>
            <progress class="progressbar" value="{{ (simul_total - simul_missing) / simul_total * 100 }}" max="100"></progress>
        </div>
        <ul class="entities wishes list-group">
            {% for simulation in simulations %}
                <li class="entity wish list-group-item" style="height:50px;">
                    <div class="entity_item rank" style="vertical-align: middle;">{{ simulation.rank }}.</div>
                    <div class="entity_item student" style="vertical-align: middle;">{{ simulation.student }} : </div>
                    {% if simulation.isValidated %}
                        <div class="entity_item validated">
                            {% if simulation.department %}
                                <span>{{ simulation.department }}</span>
                                {% if simulation.isExcess %}
                                    <span>en surnombre</span>
                                {% endif %}
                            {% else %}
                                <span>Ne participe pas</span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="entity_item pull-right ui-widget combobox" simid="{{ simulation.id }}">
                            <button>button</button>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="navigation text-center">
            {{ knp_pagination_render(simulations) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/gessehsimulation/js/combobox.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('.valid').parent('li').addClass('valid');
            $('.invalid').parent('li').addClass('invalid');
            $('.grey').parent('li').addClass('grey');
            $('.warning').parent('li').addClass('warning');
            $('.checkbox').addClass('inline');
            $(".combobox select").combobox();
        });

        $(document).ready(function() {
            $.each($('.combobox'), function(i, val){
                var obj = $(this);
                var simid = obj.attr('simid');
                $.ajax({
                    url: "{{ path('GSimul_SALiveSimul') }}",
                    method: "GET",
                    data: {id: simid},
                    statusCode: {
                        200: function(response) {
                            obj.html(response.form);
                            $('.combobox select').combobox();
                            obj.on('submit', 'form', (function (e) {
                                e.preventDefault();
                                var obj = $(this);
                                var simid = obj.parent().attr('simid');
                                var values = {id: simid};
                                  $.each( obj.serializeArray(), function(i, field) {
                                          values[field.name] = field.value;
                                  })
                                $.ajax({
                                    type: 'POST',
                                    method: 'POST',
                                    url: "{{ path('GSimul_SALiveSimul') }}",
                                    data: values,
                                    success: function(response) {
                                        var entity_html = "";
                                        if (response.entity.isActive) {
                                            entity_html += response.entity.department;
                                            if (response.entity.isExcess) {
                                                entity_html += ' (en surnombre)';
                                            }
                                        } else {
                                            entity_html += 'En disponibilité';
                                        }
                                        obj.parent().html(entity_html);
                                    },
                                });
                            }));
                        },
                        412: function(response) {
                            alert(response.message);
                        },
                    }
                });
            });
        });
    </script>
{% endblock %}
