{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Simulation{% endblock %}

{% block titlecontent %}Résultats de la simulation{% endblock %}

{% block actionscontent %}
    {% if simulations is not empty %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SSim') }}" title="Lancer l'algorithme de simulation">
                {{ icon('refresh') }} Actualiser les simulations
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SASave') }}" title="Valider les simulation et les enregistrer dans les stages." class="confirm" confirm="Attention ! Valider les données va enregistrer les stages correspondants et supprimer la simulation actuelle. Souhaitez-vous continuer ?">
                {{ icon('ok-circle') }} Valider
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SAPurge') }}" title="Supprimer la table de simulation" class="confirm" confirm="Attention ! Cette opération va supprimer toutes les données concernant la simulation en cours. Souhaitez-vous continuer ?">
                {{ icon('trash') }} Supprimer
            </a>
        </li>
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SADefine') }}" title="Cliquez pour générer la table de simulation">
                {{ icon('off') }} Générer la table
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if simulations is not empty %}
        <div id="simul_progress">
            Progression de la simulation : <span>{{ simul_total - simul_missing }} / {{ simul_total }} participants</span>
            <progress class="progressbar" value="{{ (simul_total - simul_missing) / simul_total * 100 }}" max="100"></progress>
        </div>
        <ul class="entities wishes list-group">
            {% for simulation in simulations %}
                <li class="entity wish list-group-item" style="height:50px;">
                    <div class="entity_item rank" style="vertical-align: middle;">{{ simulation.rank }}.</div>
                    <div class="entity_item student" style="vertical-align: middle;">{{ simulation.student }} : </div>
                    {% if simulation.isValidated %}
                        <div class="entity_item validated">
                            {% if department %}
                                <span>{{ department }}</span>
                                {% if isExcess %}
                                    <span>en surnombre</span>
                                {% endif %}
                            {% else %}
                                <span>Ne participe pas</span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="entity_item pull-right ui-widget combobox" id="form_{{ simulation.id }}">
                            <button class="addform" simid="{{ simulation.id }}">Formulaire</button>
                            {{ form_start(forms[simulation.id]) }}
                            <span>{{ form_widget(forms[simulation.id].department) }}</span>
                            <span>{{ form_widget(forms[simulation.id].is_excess) }}</span>
                            <span>{{ form_widget(forms[simulation.id].active) }}</span>
                            <span>{{ form_widget(forms[simulation.id].Valider) }}</span>
                            <span>{{ form_rest(forms[simulation.id]) }}</span>
                            {{ form_end(forms[simulation.id]) }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/gessehsimulation/js/combobox.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('.valid').parent('li').addClass('valid');
            $('.invalid').parent('li').addClass('invalid');
            $('.grey').parent('li').addClass('grey');
            $('.warning').parent('li').addClass('warning');
            $('.checkbox').addClass('inline');
            $(".combobox select").combobox();
            $('.addform').addClass('inline');
            $('.combobox input').addClass('inline');
            $('.combobox button').addClass('inline');
            $('button.addform').click(function(){
                console.log('clic !');
                var $simid = $(this).attr('simid');
                console.log('simid:' . simid);
                $.ajax({
                    url: "{{ path('GSimul_SALiveSimul') }}",
                    method: "get",
                    data: {id: $simid},
                    statusCode: {
                        200: function(response) {
                            console.log('ok !');
                            console.log(response);
                            $(this).parent().html(response.form);
                        },
                        412: function(response) {
                            alert(response.message);
                        },
                    }
                });
            });

            $('body').on('submit', '.ajaxForm', function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                .done(function(data) {
                    alert(data.message);
                });
            })
        });
    </script>
{% endblock %}
