<tr>
  <td>{{ period.period }}</td>
  <td>{{ period.begin|date('d-m-Y') }}</td>
  <td>{{ period.end|date('d-m-Y') }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GSimul_SAEditPeriod', {'id': period.id}) }}" title="Modifier la session '{{ period }}'"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
      <li><a href="{{ path('GSimul_SADeletePeriod', {'id': period.id}) }}" title="Supprimer la session '{{ period }}'" class="confirm"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
    </ul>
  </td>
</tr>
