<tr>
  {{ form_row(period_form.period) }}
  {{ form_row(period_form.begin) }}
  {{ form_row(period_form.end) }}
  {{ form_rest(period_form) }}
  <td class="actions">
    <ul>
      <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
      <li><a href="{{ path('GSimul_SAPeriod') }}" title="Annuler les modifications">Annuler</a></li>
    </ul>
  </td>
</tr>
