{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Période {{ period }} : simulations{% endblock %}

{% block actionscontent %}
    <li><a href="{{ path('GCore_PAPeriodIndex') }}" title="Retour à la liste des sessions de stage"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour" /></a></li>
    <li><a href="{{ path('GSimul_SAPeriodDelete', {'id': simul_period.id}) }}" title="Supprimer la période de simulation '{{ period }}'" class="confirm delete" confirm="Attention ! Cette opération va supprimer également toutes les simulations associées à cette période de simulation. Elle ne supprimera pas, par contre, la session de stages associée. Confirmez-vous la suppression ?"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
{% endblock %}

{% block content %}
    {{ form(period_form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
{% endblock %}
