{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Formulaires d'évaluations{% endblock %}
{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/admin.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block content %}
    <div>{{ form_errors(form) }}</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="actions">
      <li><button type="submit" title="Enregistrer les modifications" class="save">Enregistrer</button></li>
      <li><button type="button" id="add_crit" title="Ajouter un service au formulaire d'évaluation" class="add">Ajouter un critère</button></li>
      <li><button type="button" id="rm_crit" title="Supprimer le dernier critrère au formulaire d'évaluation" class="delete">Supprimer</button></li>
      <li><a href="{{ path('GEval_AIndex') }}" title="Abandonner les modifications" class="cancel">Annuler</a></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/addSub.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehevaluation/js/moreHelp.js') }}" type="text/javascript"></script>
{% endblock %}
