{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Formulaires d'évaluations{% endblock %}
{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/admin.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
{% block actionscontent %}{% include 'GessehEvaluationBundle:Admin:subMenu.html.twig' %}{% endblock %}

{% block content %}
    {% if eval_form_form is not empty %}
        {% form_theme eval_form_form 'GessehCoreBundle:Form:fields.html.twig' %}
        <div>{{ form_errors(eval_form_form) }}</div>
        {{ form_start(eval_form_form) }}
    {% endif %}
    <ul class="actions">
        <li><a href="{{ path('GEval_ANew') }}#eval_new" title="Ajouter un nouveau formulaire d'évaluation" class="add"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></li>
        <li><a href="{{ path('GEval_APdfExport') }}" title="Exporter les évaluations en fichier PDF">Exporter</a></li>
    </ul>
    <ul class="entities evalforms">
        {% for eval_form in eval_forms %}
            {% include eval_form_id == eval_form.id ? 'GessehEvaluationBundle:Admin:formEdit.html.twig' : 'GessehEvaluationBundle:Admin:formIndex.html.twig' %}
        {% endfor %}
        {% if eval_form_form is not empty and eval_form_id is empty %}
            {% include 'GessehEvaluationBundle:Admin:formEdit.html.twig' %}
        {% endif %}
    </ul>
    <ul>
        <li><a href="{{ path('GEval_ANew') }}" title="Ajouter un nouveau formulaire d'évaluation" class="add"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></li>
    </ul>
    {% if eval_form_form is not empty %}{{ form_end(eval_form_form) }}{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/addSub.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
