{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Formulaires d'évaluations <span><a href="{{ path('GEval_ANew') }}#eval_new" title="Ajouter un nouveau formulaire d'évaluation" class="add"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></span>{% endblock %}

{% block content %}
    <ul class="actions">
        <li class=""><a href="{{ path('GEval_APdfExport') }}" title="Exporter les évaluations en fichier PDF">Exporter</a></li>
        <li class=""><a href="{{ path('GEval_ASendMails') }}" title="Envoyer un mail de rappel aux étudiants n'ayant pas évalué tous leurs stages">Mail de rappel</a></li>
    </ul>
    <ul class="entities evalforms">
        {% for eval_form in eval_forms %}
            <li class="entity evalform">
                <div class="field entity_title evalform_name">{{ eval_form.name }}</div>
                <ul class="actions">
                    <li class=""><a href="{{ path('GEval_AEdit', { 'id': eval_form.id }) }}" title="Modifier le formulaire d'évaluation '{{ eval_form.name }}'" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
                    <li class=""><a href="{{ path('GEval_ADelete', { 'id': eval_form.id }) }}" title="Supprimer le formulaire d'évaluation '{{ eval_form.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
                </ul>

                <div>
                    {% if sector_form is not null and form_id == eval_form.id %}
                        <div class="field form">{{ form(sector_form) }}</div>
                    {% else %}
                        <div class="field"><a href="{{ path('GEval_ASectorAdd', { 'form_id': eval_form.id }) }}" title="Ajouter une association au formulaire '{{ eval_form.name }}'" class=""><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></div>
                    {% endif %}
                    <ul class="fields evalform_sectors">
                        {% for sector in sectors[eval_form.id] %}
                            <li class="field evalform_sector">
                                <a href="{{ path('GCore_FSIndex', { 'limit': { 'type': 's.id', 'value': sector.sector.id }}) }}" title="Afficher les terrains de la catégorie {{ sector.sector.name }}">{{ sector.sector.name }}</a>
                                <a href="{{ path('GEval_ASectorDelete', { 'id': sector.id }) }}" title="Supprimer l'association avec la catégorie de terrain de stage '{{ sector.sector.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a>
                            </li>
                        {% else %}
                            <li class="field evalform_sector error">
                                Aucun type de stage associé.
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="subentities criterias">
                    {% for criteria in eval_form.criterias %}
                        <li class="subentity criteria_entity">
                            <div class="field subentity_item criteria_rank">{{ criteria.rank }}</div>
                            <div class="field subentity_title criteria_name">{{ criteria.name }}</div>
                            <div class="field subentity_item criteria_type">{{ criteria.readableType }}</div>
                            <div class="field subentity_item criteria_more">{{ criteria.more }}</div>
                            <ul class="actions">
                                <li class=""><a href="{{ path('GEval_ADeleteCriteria', { 'id': criteria.id }) }}" title="Supprimer le critère d'évaluation '{{ criteria.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="noentity criteria error">Aucun critère associé</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/addSub.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
