<tr>
  <td>{{ sector.sector }}</td>
  <td>{{ sector.form }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GEval_ASectorDelete', { 'id': sector.id }) }}" title="Supprimer le formulaire de '{{ sector.sector }}'" class="confirm"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
    </ul>
  </td>
</tr>
