{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Modération des évaluations textuelles{% endblock %}
{% block actionscontent %}{% include 'GessehEvaluationBundle:Admin:subMenu.html.twig' %}{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Terrain de stage</th>
        <th>Critère</th>
        <th>Commentaire</th>
        <th class="small">Posté le</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for evaluation in evaluations %}
        <tr>
          <td>{{ evaluation.placement.department.name }} à {{ evaluation.placement.department.hospital.name }}</td>
          <td>{{ evaluation.evalCriteria.name }}</td>
          <td>{{ evaluation.value }}</td>
          <td class="small">{{ evaluation.createdAt|date('d-m-Y') }}</td>
          <td class="actions">
            <ul>
              <li><a href="" title="Modifier le commentaire"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
              <li><a href="{{ path('GEval_ATextDelete', {'id': evaluation.id}) }}" title="Supprimer le commentaire" class="confirm"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
            </ul>
          </td>
        </tr>
      {% else %}
        <tr><td colspan="5">Aucun commentaire à afficher.</td></tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td class="pagination">{{ knp_pagination_render(evaluations) }}</td>
      </tr>
    </tfoot>
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
{% endblock %}
