{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}
    {% if userid is not null %}
        Adhésions ({{ student }})
    {% else %}
        Mes adhésions
    {% endif %}
{% endblock %}

{% block actionscontent %}
    <li class="btn btn-primary">
        <a href="{{ path('GRegister_UJoin')}}?{{ app.request.queryString }}">
            <span class="glyphicon glyphicon-euro"></span>
            Adhérer
        </a>
    </li>
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        {% for membership in memberships %}
            <li class="list-group-item">
                <span class="btn-group pull-right">
                    <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('GRegister_UInfos', {'memberid': membership.id, 'userid': userid}) }}" title="Afficher les réponses aux questions complémentaires">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Questions complémentaires
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') and membership.payedOn is null %}
                            <li>
                                <a href="{{ path('GRegister_AValidate', {'id': membership.id, 'userid': userid}) }}" title="Valider la réception du paiement pour cette adhésion">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                    Valider
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('GRegister_ADelete', {'id': membership.id, 'userid': userid}) }}" title="Supprimer cette adhésion">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    Supprimer
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </span>
                <div>
                    Adhésion jusqu'au {{ membership.expiredOn|date('d/m/Y') }} payée ({{ membership.payment }} €) par {{ membership.readableMethod|lower }}
                    {% if membership.payedOn is not null %}
                        le {{ membership.payedOn|date('d/m/Y') }}.
                    {% else %}
                        ; la transaction n'a pas été validée.
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li class="list-group-item">Aucune adhésion enregistrée.</li>
        {% endfor %}
    </ul>
{% endblock %}
