{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Vœux{% endblock %}

{% block titlecontent %}
    {% if simname is not null %}
        Vœux de stage de {{ simname }}
    {% else %}
        Mes vœux de stage
    {% endif %}
{% endblock %}

{% block actionscontent %}
    <ul class="actions">
        {% if simname is not null %}
            <li class=""><a class="button" href="{{ path('GSimul_SAList') }}" title="Retour à la simulation"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour"></a></li>
        {% else %}
            <li class=""><a class="button" href="{{ path('GSimul_SSim') }}" title="Mettre à jour la simulation avec mes vœux actuels"><button type="button">Actualiser la simulation</button></a></li>
            <li class=""><a class="button" href="{{ path('GSimul_SList') }}" title="Affiche un tableau global des simulations"><button type="button">Tableau de simulation</button></a></li>
        {% endif %}
        <li class=""><a class="button" href="{{ path('GSimul_SLeft', {simid: simid}) }}" title="Affiche les postes restants au moment de mon choix"><button type="button">Mes postes restants</button></a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if not simstudent.active %}
    <div class="content">Vous ne participez pas à la simulation. Pour participer à nouveau à la simulation et faire vos vœux, <a href="{{ path('GSimul_SGetin', {simid: simid}) }}">cliquez ici</a>.</div>
    {% else %}
    <div class="content">Si vous ne participez pas à la simulation pour quelque raison que ce soit (grossesse, master, inter-CHU, etc.), <a href="{{ path('GSimul_SGetout', {simid: simid}) }}">cliquez ici</a></div>
        <div class="content">Votre vœu retenu est : <strong>{{ simstudent.department }}</strong>. Au moment de votre choix, il reste {{ simstudent.extra }} place(s) pour ce poste.</div>
        <div class="content">Devant vous, {{ missing }} personne(s) n'ont pas de vœu validé par la simulation à ce jour.</div>

        <ul class="entities wishes">
            {% for wish in wishes %}
                <li class="entity wish
                    {% if simstudent.department and wish.department.id == simstudent.department.id %}
                        valid
                    {% else %}
                        invalid
                    {% endif %}
                ">
                    <ul class="actions">
                        <li class=""><a href="{{ path('GSimul_SUp', {wish_id: wish.id, simid: simid}) }}" title="Monter le vœu d'une place"><img src="{{ asset('bundles/gessehcore/images/Button_Up.png') }}" alt="Monter" /></a></li>
                        <li class=""><a href="{{ path('GSimul_SDown', {wish_id: wish.id, simid: simid}) }}" title="Descendre le vœu d'une place"><img src="{{ asset('bundles/gessehcore/images/Button_Down.png') }}" alt="Descendre" /></a></li>
                    </ul>
                    <div class="field entity_item rank">{{ wish.rank }}</div>
                    <div class="field entity_title fieldset">{{ wish.department.name }} à {{ wish.department.hospital }}</div>
                    {% if wish.department.cluster is not null %}
                        <div class="field entity_item cluster"><img src="{{ asset('bundles/gessehcore/images/Warning.png') }}" alt="Cluster" title="Ce terrain de stage fait partie d'un cluster" /></div>
                    {% endif %}
                    <div class="field entity_item sector">({{ wish.department.sector.name }})</div>
                    <div class="field entity_item number">{{ wish.department.number }}</div>
                    <ul class="actions">
                        <li class=""><a href="{{ path('GSimul_SDelete', {wish_id: wish.id, simid: simid}) }}" title="Supprimer le vœu"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
                    </ul>
            {% else %}
                <li class="noentity error">Aucun vœu enregistré.</li>
            {% endfor %}
        </ul>
        <div>{{ form(wish_form) }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
                $('.button').html(function() {
                        var button = '<button type="button" href="' + $(this).attr('href') + '">' + $(this).text() + '
                });
        });
    </script>
{% endblock %}
