{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Mes vœux de stage{% endblock %}

{% block content %}
  <ul>
    <li><a href="{{ path('GSimul_SList') }}" title="Affiche un tableau global des simulations">Tableau de simulation</a></li>
  </ul>
  {% if not simstudent.active %}
    <div>Vous ne participez pas à la simulation. Pour participer à nouveau à la simulation et faire vos vœux, <a href="{{ path('GSimulation_SGetin') }}">cliquez ici</a>.</div>
  {% else %}
    <div>Si vous ne participez pas à la simulation pour quelque raison que ce soit (grossesse, master, inter-CHU, etc.), <a href="{{ path('GSimulation_SGetout') }}">cliquez ici</a></div>

    <div>Votre vœu retenu est : <strong>{{ simstudent.department }}</strong>. Au moment de votre choix, il reste {{ simstudent.extra }} place(s) pour ce poste.</div>
    <div>Devant vous, {{ missing }} personne(s) n'ont pas de vœu validé par la simulation à ce jour.</div>

  <table>
      <thead>
        <tr>
          <th>Rang</th>
          <th>Hôpital</th>
          <th>Service</th>
          <th>Catégorie</th>
          <th class="small">Postes</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for wish in wishes %}
          <tr>
            <td>{{ wish.rank }}</td>
            <td>{{ wish.department.hospital }}</td>
            <td>{{ wish.department.name }}</td>
            <td>{{ wish.department.sector.name }}</td>
            <td class="small">{{ wish.department.number }}</td>
            <td class="actions">
              <ul>
                <li><a href="{{ path('GSimulation_SUp', {wish_id: wish.id}) }}" title="Monter le vœu d'une place">Monter</a></li>
                <li><a href="{{ path('GSimulation_SDown', {wish_id: wish.id}) }}" title="Descendre le vœu d'une place">Descendre</a></li>
                <li><a href="{{ path('GSimulation_SDelete', {wish_id: wish.id}) }}" title="Supprimer le vœu">Supprimer</a></li>
              </ul>
            </td>
          <tr>
        {% else %}
          <tr>
            <td colspan=5>Aucun vœu enregistré.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <div>{{ form_errors(wish_form) }}</div>
  <form method="post" {{ form_enctype(wish_form) }}>
    {{ form_widget(wish_form.department) }}
    {{ form_rest(wish_form) }}
    <button type="submit" title="Ajouter un vœu à la liste">Ajouter</button>
  </form>
  <ul>
    <li><a href="{{ path('GSimulation_SSim') }}" title="Mettre à jour la simulation avec mes vœux actuels">Lancer la simulation</a></li>
  </ul>
  {% endif %}
{% endblock %}

