{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Vœux{% endblock %}

{% block titlecontent %}
    {% if simname is not null %}
        Vœux de stage de {{ simname }}
    {% else %}
        Mes vœux de stage
    {% endif %}
{% endblock %}

{% block actionscontent %}
    {% if simname is not null %}
        <li class="btn btn-primary">
            <a class="" href="{{ path('GSimul_SAList') }}" title="Retour à la simulation">
                {{ icon('hand-left') }} Retour
            </a>
        </li>
    {% else %}
        {% if not simstudent.active %}
            <li class="btn btn-primary">
                <a href="{{ path('GSimul_SGetin', {simid: simid}) }}" title="Participer à nouveau à la simulation et faire vos vœux.">
                        {{ icon('screenshot') }} Participer
                </a>
            </li>
        {% else %}
            <li class="btn btn-primary">
                <a href="{{ path('GSimul_SGetout', {simid: simid}) }}" title="Si vous ne participez pas à la simulation pour quelque raison que ce soit (grossesse, master, inter-CHU, etc).">
                    {{ icon('remove-circle') }} Ne pas participer
                </a>
            </li>
            <li class="btn btn-primary">
                <a class="button" href="{{ path('GSimul_SSim') }}" title="Mettre à jour la simulation avec mes vœux actuels">
                    {{ icon('refresh') }} Actualiser
                </a>
            </li>
            <li class="btn btn-primary">
                <a class="button" href="{{ path('GSimul_SList', {simid: simid}) }}" title="Affiche le résultat de la simulation">
                    {{ icon('eye-open') }} Résultats
                </a>
            </li>
        {% endif %}
    {% endif %}
    <li class="btn btn-primary">
        <a class="button" href="{{ path('GSimul_SLeft', {simid: simid}) }}" title="Affiche les postes restants au moment de mon choix">
            {{ icon('briefcase') }} Mes postes restants
        </a>
    </li>
{% endblock %}

{% block content %}
    {% if not simstudent.active %}
        <div class="">Vous ne participez pas à la simulation.</div>
    {% else %}
        {% if simstudent.department is not null %}
        <div class="">Votre vœu retenu est : <span class="label label-success">{{ simstudent.department }}</span></div>
        <div class="">Au moment de votre choix, il reste <span class="label label-default">{{ simstudent.extra }} place{% if simstudent.extra > 1 %}s{% endif %}</span> pour ce poste.</div>
        <div class="">Devant vous, <span class="label label-warning">{{ missing }} personne{% if missing > 0 %}s</span> n'ont{% else %}</span> n'a{% endif %} pas de vœu validé par la simulation à ce jour.</div>
        {% else %}
            <div class="">Vous n'avez pas encore de vœu valide. Ajoutez des vœux ci-dessous et actualisez la simulation ensuite.</div>
        {% endif %}

        <ul class="entities wishes list-group">
            {% for wish in wishes %}
                <li class="entity wish list-group-item row
                    {% if simstudent.department and wish.department.id == simstudent.department.id %}
                        valid
                    {% else %}
                        invalid
                    {% endif %}
                ">
                    {% for repartition in wish.department.repartitions %}
                        <ul class="actions pull-right">
                            <li class="">
                                <a href="{{ path('GSimul_SUp', {wish_id: wish.id, simid: simid}) }}" title="Monter le vœu d'une place">
                                    {{ icon('arrow-up') }} Monter
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ path('GSimul_SDown', {wish_id: wish.id, simid: simid}) }}" title="Descendre le vœu d'une place">
                                    {{ icon('arrow-down') }} Descendre
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ path('GSimul_SDelete', {wish_id: wish.id, simid: simid}) }}" title="Supprimer le vœu">
                                    {{ icon('trash') }} Supprimer
                                </a>
                            </li>
                        </ul>
                        <div class="inline entity_item rank">{{ wish.rank }}.</div>
                        <div class="inline title">
                            <a href="{{ path('GSimul_SListDept', {'id': wish.department.id}) }}" title="Afficher les simulations pour ce poste">
                                {{ wish.department }}
                            </a>
                        </div>
                        <div class="inline">
                            {% if repartition.cluster is not null %}
                                <span class="entity_item cluster label label-warning">Stage couplé</span>
                            {% endif %}
                            {% for accreditation in wish.department.accreditations %}
                                <span class="entity_item sector label label-info">{{ accreditation.sector.name }}</span>
                            {% endfor %}
                            <span class="entity_item number badge">{{ repartition.number }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <li class="noentity error list-group-item">Aucun vœu enregistré.</li>
                {% endfor %}
            </ul>
            <div>
                {{ form_start(wish_form) }}
                {{ form_errors(wish_form) }}
                <div class="inline">
                    {{ form_errors(wish_form.department) }}
                    {{ form_widget(wish_form.department) }}
                </div>
                <div class="inline">{{ form_widget(wish_form.Ajouter) }}</div>
                {{ form_end(wish_form) }}
            </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
                $('.button').html(function() {
                        var button = '<button type="button" href="' + $(this).attr('href') + '">' + $(this).text() + '
                });
        });
    </script>
{% endblock %}
