{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Postes restants{% endblock %}

{% block titlecontent %}
    Postes restants au moment
    {% if simname is not null %}
        du choix de {{ simname }}
    {% else %}
        de mon choix
    {% endif %}
{% endblock %}

{% block actionscontent %}
    <li><a href="{{ path('GSimul_SIndex', {simid: simid}) }}" title="Retour à mes vœux"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour"></a></li>
{% endblock %}

{% block content %}
    <ul class="entities wishes">
        {% for repartition in repartitions %}
            <li class="entity wish
                {% if repartition.number == 0 %}
                    grey
                {% elseif left[repartition.department.id] > 0 %}
                    valid
                {% else %}
                    invalid
                {% endif %}
            ">
                <div class="entity_item fieldset">{{ repartition.department.name }} à {{ repartition.department.hospital.name }}</div>
                {% for accreditation in repartition.department.accreditations %}
                    <span class="entity_item sector label label-info">{{ repartition.department.sector.name }}</span>
                {% endfor %}
                <span class="entity_item number badge">{{ left[repartition.department.id] }} / {{ repartition.number }}</span>
            </li>
        {% else %}
            <li class="noentity error">Aucun service retrouvé dans la base de données. Contactez un administrateur.</li>
        {% endfor %}
    </ul>
{% endblock %}
