{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Simulation{% endblock %}

{% block titlecontent %}Résultats de la simulation{% endblock %}

{% block actionscontent %}
    <li class="btn btn-primary">
        <a href="{{ path('GSimul_SIndex') }}" title="Retour à mes vœux">
            {{ icon('screenshot') }} Mes vœux
        </a>
    </li>
{% endblock %}

{% block content %}
    {{ include('GessehSimulationBundle:Simulation:simulations.html.twig', {'simulations': simulations}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('.valid').parent('li').addClass('valid');
            $('.invalid').parent('li').addClass('invalid');
            $('.grey').parent('li').addClass('grey');
        });
    </script>
{% endblock %}
