{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Postes restants{% endblock %}

{% block titlecontent %}Postes restants au moment de mon choix{% endblock %}

{% block actionscontent %}
<li><a href="{{ path('GSimul_SIndex') }}" title="Retour à mes vœux"><img src="{{ asset('bundles/gessehcore/images/Button_Back.png') }}" alt="Retour"></a></li>
{% endblock %}

{% block content %}
    <ul class="entities wishes">
        {% for department in departments %}
            <li class="entity wish
                {% if department.number == 0 %}
                    grey
                {% elseif left[department.id] > 0 %}
                    valid
                {% else %}
                    invalid
                {% endif %}
            ">
                <div class="entity_item fieldset">{{ department.name }} à {{ department.hospital.name }}</div>
                <div class="entity_item sector">{{ department.sector.name }}</div>
                <div class="entity_item number">{{ left[department.id] }} / {{ department.number }}</div>
            </li>
        {% else %}
            <li class="noentity error">Aucun service retrouvé dans la base de données. Contactez un administrateur.</li>
        {% endfor %}
    </ul>
{% endblock %}
