{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Postes restants{% endblock %}

{% block titlecontent %}
    Postes restants au moment
    {% if simname is not null %}
        du choix de {{ simname }}
    {% else %}
        de mon choix
    {% endif %}
{% endblock %}

{% block actionscontent %}
    <li class="btn btn-primary">
        <a href="{{ path('GSimul_SIndex', {simid: simid}) }}" title="Retour à mes vœux">
            {{ icon('screenshot') }} Mes vœux
        </a>
    </li>
{% endblock %}

{% block content %}
    <ul class="entities wishes list-group">
        {% for repartition in repartitions %}
            <li class="entity wish list-group-item row
                {% if repartition.number == 0 %}
                    grey
                {% elseif repartition.department.id in left|keys and left[repartition.department.id] == 0 %}
                    invalid
                {% else %}
                    valid
                {% endif %}
            ">
                <div class="entity_item fieldset">
                    {{ repartition.department.hospital.name }} : {{ repartition.department.name }}
                </div>
                {% for accreditation in repartition.department.accreditations %}
                    <span class="entity_item sector label label-info">{{ accreditation.sector.name }}</span>
                {% endfor %}
                <span class="entity_item number badge">
                    {% if repartition.department.id in left|keys %}
                        {{ left[repartition.department.id] }}
                    {% else %}
                        {{ repartition.number }}
                    {% endif %}
                    / {{ repartition.number }}
                </span>
            </li>
        {% else %}
            <li class="noentity error">Aucun service retrouvé dans la base de données. Contactez un administrateur.</li>
        {% endfor %}
    </ul>
{% endblock %}
