<ul class="entities wishes">
    {% for simulation in simulations %}
        <li class="entity wish">
            <div class="entity_item rank">{{ simulation.id }}.</div>
            <div class="entity_item student">{{ simulation.student }} : </div>
            {% if simulation.department is not null %}
                <div class="entity_item valid">
                    <a href="{{ path('GSimul_SListDept', {'id': simulation.department.id}) }}" title="Afficher les simulations pour ce poste">{{ simulation.department }}</a>
                </div>
            {% elseif not simulation.active %}
                <div class="entity_item grey">
                    Ne participe pas à la simulation
                </div>
            {% elseif simulation.countWishes > 0 and is_granted('ROLE_ADMIN') %}
                <div class="entity_item warning">
                    Aucun choix valide
                </div>
            {% else %}
                <div class="entity_item invalid">
                    Aucun choix valide
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="entity_item field">({{ simulation.countWishes }} vœu{% if simulation.countWishes > 1 %}x{% endif %})</div>
                <ul class="actions">
                    <li><a href="{{ path('GSimul_SIndex', {'simid': simulation.id}) }}" title="Afficher les vœux de l'étudiant {{ simulation.student }}"><img src="{{ asset('bundles/gessehcore/images/Target.png') }}" alt="Vœux" /></a></li>
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
