<tr>
  {{ form_row(grade_form.rank) }}
  {{ form_row(grade_form.name) }}
  {{ form_row(grade_form.isActive) }}
  {{ form_rest(grade_form) }}
  <td class="actions">
    <ul>
      <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
      <li><a href="{{ path('GUser_SAIndex', {'page': page}) }}" title="Abandonner les modifications">Annuler</a></li>
    </ul>
  </td>
</tr>
