<tr id="student_{{ student.id }}">
  {{ form_row(student_form.surname) }}
  {{ form_row(student_form.name) }}
  {{ form_row(student_form.user.email) }}
  {{ form_row(student_form.phone) }}
  {{ form_row(student_form.grade) }}
  {% if kparam('simul_active') == true %}
    <td>{{ form_widget(student_form.ranking) }} {{ form_widget(student_form.graduate) }}</td>
  {% endif %}
  {{ form_rest(student_form) }}
  <td class="actions">
    <ul>
      <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
      <li><a href="{{ path('GUser_SAIndex', {'page': page}) }}" title="Abandonner les modifications">Annuler</a></li>
    </ul>
  </td>
</tr>
