{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Adresses mails ({{ grade }}){% endblock %}
{% block titlecontent %}{{ grade }} : adresses mails{% endblock %}

{% block content %}
    <div>Séparateur :
        <select id="separator" class="">
            <option value=", " selected>,</option>
            <option value=" ; ">;</option>
            <option value="retour">À la ligne</option>
        </select>
    </div>
    <div><textarea id="showlist" class="export">{{ mails }}</textarea></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehuser/js/switchSeparator.js') }}" type="text/javascript"></script>
{% endblock %}
