<tr>
  <td>{{ student.surname }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.user.email }}</td>
  <td>{{ student.phone }}</td>
  <td></td>
  <td>
    <ul>
      <li><a href="" title="Modifier l'étudiant '{{ student }}'">Modifier</a></li>
    </ul>
  </td>
</tr>

