<tr>
  <td>{{ student.surname }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.user.email }}</td>
  <td>{{ student.phone }}</td>
  <td></td>
  <td>
    <ul>
      <li><a href="{{ path('GUser_SAEditStudent', {'id': student.id}) }}" title="Modifier l'étudiant '{{ student }}'">Modifier</a></li>
      <li><a href="{{ path('GUser_SADeleteStudent', {'id': student.id}) }}" title="Supprimer l'étudiant '{{ student }}'">Supprimer</a></li>
      {% if 'ROLE_ADMIN' in student.user.roles %}
        <li><a href="{{ path('GUser_SADemoteStudent', {'id': student.id}) }}" title="Démettre l'étudiant '{{ student }}'">Démettre</a></li>
      {% else %}
        <li><a href="{{ path('GUser_SAPromoteStudent', {'id': student.id}) }}" title="Promouvoir l'étudiant '{{ student }}'">Promouvoir</a></li>
      {% endif %}
    </ul>
  </td>
</tr>

