{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Étudiants ({{ students_count }}){% endblock %}

{% block content %}

  <div>
      <form>
          <label for="search">Nom :</label>
          <input type="text" id="search" name="search" value="{{ search }}" />
          <button type="submit"><img src="{{ asset('bundles/gessehcore/images/Search.png') }}" alt="Rechercher" /></button>
      </form>
  </div>
  {% if student_form is not empty %}
    {% form_theme student_form 'GessehCoreBundle:Form:fields.html.twig' %}
    {% if form_errors(student_form) is not empty %}<div class="error">{{ form_errors(student_form) }}</div>{% endif %}
    {{ form_start(student_form) }}
  {% endif %}
  <table>
    <thead>
      <tr>
        <th {% if students.isSorted('s.surname') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(students, 'Nom', 's.surname') }}</th>
        <th {% if students.isSorted('s.name') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(students, 'Prénom', 's.name') }}</th>
        <th>E-mail</th>
        <th>Téléphone</th>
        <th {% if students.isSorted('g.rank') %} class="sorted small" {% else %} class="small" {% endif %}>{{ knp_pagination_sortable(students, 'Promotion', 'g.rank') }}</th>
        {% if kparam('simul_active') == true %}
          <th>Classement/Année</th>
        {% endif %}
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        {% include student_id == student.id ? 'GessehUserBundle:StudentAdmin:edit.html.twig' : 'GessehUserBundle:StudentAdmin:show.html.twig' %}
      {% endfor %}
      {% if student_form is not empty and student_id is empty %}
        {% include 'GessehUserBundle:StudentAdmin:edit.html.twig' %}
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td class="actions">
          <ul>
            <li><a href="{{ path('GUser_SANew') }}#student_new" title="Ajouter un nouvel étudiant"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></li>
            <li><a href="{{ path('GUser_GAUpdateNext') }}" title="Passer tous les étudiants dans la promotion supérieure" class="confirm" confirm="Attention ! Cette opération va passer tous les internes dans la promotion suivante ! Êtes-vous sûrs de vouloir continuer ?">Changer de promo</a></li>
          </ul>
        </td>
        <td class="pagination">{{ knp_pagination_render(students) }}</td>
      </tr>
    </tfoot>
  </table>
  {% if student_form is not empty %}{{ form_end(student_form) }}{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
{% endblock %}
