<tr>
  <td>{{ student.surname }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.user.email }}</td>
  <td>{{ student.phone }}</td>
  <td class="small">{{ student.grade }}</td>
  {% if kparam('simul_active') == true %}
    <td>{{ student.ranking }} / {{ student.graduate }}</td>
  {% endif %}
  <td class="actions">
    <ul>
      <li><a href="{{ path('GUser_SAEdit', {'id': student.id}) }}?{{ app.request.queryString }}#student_{{ student.id }}" title="Modifier l'étudiant '{{ student }}'" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></li>
      <li><a href="{{ path('GUser_SADelete', {'id': student.id}) }}" title="Supprimer l'étudiant '{{ student }}'" class="confirm delete" confirm="Attention, vous allez supprimer l'étudiant et toutes les informations s'y rapportant ! Voulez-vous continuer ?"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></li>
      {% if 'ROLE_ADMIN' in student.user.roles %}
        <li><a href="{{ path('GUser_SADemote', {'id': student.id}) }}?{{ app.request.queryString }}#student_{{ student.id }}" title="Démettre l'étudiant '{{ student }}'"><img src="{{ asset('bundles/gessehcore/images/Fav.png') }}" alt="Démettre" /></a></li>
      {% else %}
        <li><a href="{{ path('GUser_SAPromote', {'id': student.id}) }}?{{ app.request.queryString }}#student_{{ student.id }}" title="Promouvoir l'étudiant '{{ student }}'"><img src="{{ asset('bundles/gessehcore/images/Fav_Empty.png') }}" alt="Promouvoir" /></a></li>
      {% endif %}
      <li><a href="{{ path('GCore_PAPlacementIndex', {'limit': {'type': 's.id', 'value': student.id, 'description': student.surname ~ ' ' ~ student.name}}) }}" title="Afficher les stages de l'étudiant '{{ student }}'"><img src="{{ asset('bundles/gessehcore/images/Blocknotes.png') }}" alt="Stages" /></a></li>
    </ul>
  </td>
</tr>
