{% block field_row %}
  {% spaceless %}
    <td>{{ form_errors(form) }}{{ form_widget(form) }}</td>
  {% endspaceless %}
{% endblock field_row %}

{% block form_widget %}
  <tr {{ block('widget_container_attributes') }}>{{ block('field_rows') }}{{ form_rest(form) }}</tr>
{% endblock %}
