{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Modifier la description de {{ entity.name }}{% endblock %}

{% block actionscontent %}<a href="{{ path('GCore_FSAIndex') }}" title="Retour vers la liste des catégories, hôpitaux et services">Retour</a>{% endblock %}

{% block content %}
  <div class="description">{{ entity.description|raw }}</div>
  <form method="post" {{ form_enctype(edit_form) }}>
    <div class="error">{{ form_errors(edit_form) }}</div>
    <fieldset>
      {{ form_row(edit_form.description) }}
      {{ form_rest(edit_form) }}
    </fieldset>
    <div><button type="submit" title="Enregistrer les modifications de '{{ entity.name }}'">Enregistrer</button></div>
  </form>

  {{ tinymce_init() }}
{% endblock %}
