<tr id="hospital_{% if hospital is defined %}{{ hospital.id }}{% else %}new{% endif %}">
  {{ form_row(hospital_form.name) }}
  {{ form_row(hospital_form.address) }}
  {{ form_row(hospital_form.web) }}
  {{ form_row(hospital_form.phone) }}
  <td rowspan=2 class="actions">
    <ul>
      <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
      <li><button type="button" id="add_dpt" title="Ajouter un service à l'hôpital">Ajouter un service</button></li>
      <li><button type="button" id="rm_dpt" title="Supprimer le dernier service de l'hôpital">Supprimer</button></li>
      <li><a href="{{ path('GCore_FSAIndex') }}" title="Abandonner les modifications">Annuler</a></li>
    </ul>
  </td>
</tr>
<tr>
  <td colspan=4>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Patron</th>
          <th>Catégorie</th>
          {% if kparam('simul_active') == true %}
            <th>Postes</th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="gesseh_corebundle_hospitaltype_departments" data-prototype="{{ form_widget(hospital_form.departments.get('prototype')) | e }}">
        {% for department in hospital_form.departments %}
          {{ form_widget(department) }}
        {% endfor %}
      </tbody>
    </table>
    {{ form_rest(hospital_form) }}
  </td>
</tr>
