<form method="post" {{ form_enctype(hospital_form) }}>
  <p>
    {{ form_row(hospital_form.name) }}
    {{ form_row(hospital_form.address) }}
    {{ form_row(hospital_form.web) }}
    {{ form_row(hospital_form.phone) }}
      <ul class="action">
        <li><button type="submit">enregistrer</button></li>
        <li><button type="button" id="add_dpt">ajouter un service</button></li>
        <li><a href="{{ path('GCore_FSAIndex') }}">annuler</a></li>
      </ul>
  </p>
  <p>
      <div class="table">
        <div class="table_head">
          <p>
            <span>Service</span>
            <span>Patron</span>
            <span>Catégorie</span>
          </p>
        </div>
        <div class="table_body" id="gesseh_corebundle_hospitaltype_departments" data-prototype="{{ form_widget(hospital_form.departments.get('prototype')) | e }}">
          {% for department in hospital_form.departments %}
            {{ form_widget(department) }}
          {% endfor %}
        </div>
      </div>
      {{ form_rest(hospital_form) }}
  </p>
</form>
