{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Modifier la description de {{ entity.name }}{% endblock %}

{% block actionscontent %}<a href="{{ path('GCore_FSIndex', { 'limit': limit }) }}" title="Retour vers la liste des catégories, hôpitaux et services">Retour</a>{% endblock %}

{% block content %}
  <div class="description">{{ entity.description|raw }}</div>
  {{ form(edit_form) }}
  {{ tinymce_init() }}
{% endblock %}
