<tr>
  {{ form_row(hospital_form.name) }}
  {{ form_row(hospital_form.address) }}
  {{ form_row(hospital_form.web) }}
  {{ form_row(hospital_form.phone) }}
  <td rowspan=2 class="actions">
    <ul>
      <li><button type="submit">Enregistrer</button></li>
      <li><button type="button" id="add_dpt">Ajouter un service</button></li>
      <li><a href="{{ path('GCore_FSAIndex') }}">Annuler</a></li>
    </ul>
  </td>
</tr>
<tr>
  <td colspan=4>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Patron</th>
          <th>Catégorie</th>
        </tr>
      </thead>
      <tbody id="gesseh_corebundle_hospitaltype_departments" data-prototype="{{ form_widget(hospital_form.departments.get('prototype')) | e }}">
        {% for department in hospital_form.departments %}
          {{ form_widget(department) }}
        {% endfor %}
      </tbody>
    </table>
    {{ form_rest(hospital_form) }}
  </td>
</tr>
