<li class="entity hospital">
    <span class="field hospital_name">
        {% if hospital.web is not null %}
            <a href="{{ hospital.web }}">{{ hospital.name }}</a>
        {% else %}
            {{ hospital.name }}
        {% endif %}
    </span>
    <span class="field hospital_address">({{ hospital.address }})</span>
    <span class="field hospital_phone">{{ hospital.phone }}</span>
    <span class="action"><a href="{{ path('GCore_FSAEditHospitalDescription', { 'id': hospital.id }) }}" title="Modifier la page de description de '{{ hospital.name }}'"><img src="{{ asset('bundles/gessehcore/images/Info.png') }}" alt="Description" /></a></span>
    <span class="action"><a href="{{ path('GCore_FSAEditHospital', { 'id': hospital.id }) }}#hospital_{{ hospital.id }}" title="Modifier l'hôpital '{{ hospital.name }}'" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier" /></a></span>
    <span class="action"><a href="{{ path('GCore_PAIndex', {'limit': {'type': 'h.id', 'value': hospital.id}}) }}" title="Afficher les stages dans l'hôpital '{{ hospital.name }}'"><img src="{{ asset('bundles/gessehcore/images/Blocknotes.png') }}" alt="Stages" /></a></span>
    <span class="action"><a href="{{ path('GCore_FSADeleteHospital', { 'id': hospital.id }) }}" title="Supprimer l'hôpital '{{ hospital.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></span>
    <ul class="department">
        {% for department in hospital.departments %}
            <li class="entity department">
                <span class="department_name">{{ department.name }}</span>
                <span class="department_head">{{ department.head }}</span>
                <span class="department_sector"><a href="{{ path('GCore_FSAHospital', { 'limit': { 'type': 's.id', 'value': department.sector.id }}) }}" title="Afficher les terrains de la catégorie {{ department.sector }}">{{ department.sector }}</a></span>
                <span class="department_cluster"><a href="{{ path('GCore_FSAHospital', { 'limit': { 'type': 'd.cluster', 'value': department.cluster }}) }}" title="Afficher les terrains du cluster {{ department.cluster }}">{{ department.cluster }}</a></span>
                {% if kparam('simul_active') == true %}
                  <span class="department_number">{{ department.number }}</span>
                {% endif %}
                <span class="action"><a href="{{ path('GCore_FSAEditDepartmentDescription', {'id': department.id}) }}" title="Modifier la description du service '{{ department.name }}'" class="edit"><img src="{{ asset('bundles/gessehcore/images/Info.png') }}" alt="Description" /></a></span>
                <span class="action"><a href="{{ path('GCore_PAIndex', {'limit': {'type': 'd.id', 'value': department.id}}) }}" title="Afficher les stages associés au service '{{ department.name }}'"><img src="{{ asset('bundles/gessehcore/images/Blocknotes.png') }}" alt="Stages" /></a></span>
                <span class="action"><a href="{{ path('GCore_FSADeleteDepartment', {'id': department.id}) }}" title="Supprimer le service '{{ department.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer" /></a></span>
            </li>
        {% else %}
          <li class="noentity department">Aucun service associé</li>
        {% endfor %}
    </ul>
</li>
