{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Ajouter/modifier un terrain de stage{% endblock %}
{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/admin.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block content %}
    <div>{{ form_errors(hospital_form) }}</div>
    {{ form_start(hospital_form) }}
    {{ form_widget(hospital_form) }}
    <ul class="actions">
      <li><button type="submit" title="Enregistrer les modifications" class="save">Enregistrer</button></li>
      <li><button type="button" id="add_dpt" title="Ajouter un service à l'hôpital" class="add">Ajouter un service</button></li>
      <li><button type="button" id="rm_crit" title="Supprimer le dernier service ajouté à l'hôpital" class="delete">Supprimer</button></li>
      <li><a href="{{ path('GCore_FSIndex') }}" title="Abandonner les modifications" class="cancel">Annuler</a></li>
    </ul>
    {{ form_end(hospital_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/addSub.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
