<tr>
  <td>{{ sector.name }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GCore_FSAEditSector', { 'id': sector.id }) }}" title="Modifier la catégorie '{{ sector.name }}'">Modifier</a></li>
      <li><a href="{{ path('GCore_FSADeleteSector', { 'id': sector.id }) }}" title="Supprimer la catégorie '{{ sector.name }}'">Supprimer</a></li>
    </ul>
  </td>
</tr>
