<tr>
  <td>{{ hospital.name }}</td>
  <td>{{ hospital.address }}</td>
  <td>{{ hospital.web }}</td>
  <td>{{ hospital.phone }}</td>
  <td>
    <ul>
      <li><a href="{{ path('GCore_FSAEditHospitalDescription', { 'id': hospital.id }) }}">Description</a></li>
      <li><a href="{{ path('GCore_FSAEditHospital', { 'id': hospital.id }) }}">Modifier</a></li>
      <li><a href="{{ path('GCore_FSADeleteHospital', { 'id': hospital.id }) }}">Supprimer</a></li>
    </ul>
  </td>
</tr>
<tr>
  <td colspan=4>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Chef de service</th>
          <th>Catégorie</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        {% for department in hospital.departments %}
          <tr>
            <td>{{ department.name }}</td>
            <td>{{ department.head }}</td>
            <td>{{ department.sector }}</td>
            <td><a href="{{ path('GCore_FSAEditDepartmentDescription', {'id': department.id}) }}">Description</a></td>
          </tr>
        {% else %}
          <tr>
            <td colspan=4>Aucun service associé</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
