<li class="entity sector">
    <span class="field sector_name">{{ sector.name }}</span>
    <span class="action"><a href="{{ path('GCore_FSAEditSector', { 'id': sector.id }) }}" title="Modifier la catégorie '{{ sector.name }}'" class="edit"><img src="{{ asset('bundles/gessehcore/images/Pencil_2.png') }}" alt="Modifier"></a></span>
    <span class="action"><a href="{{ path('GCore_PAIndex', {'limit': {'type': 't.id', 'value': sector.id}}) }}" title="Afficher les stages dans la catégorie '{{ sector.name }}'"><img src="{{ asset('bundles/gessehcore/images/Blocknotes.png') }}" alt="Stages"></a></span>
    <span class="action"><a href="{{ path('GCore_FSADeleteSector', { 'id': sector.id }) }}" title="Supprimer la catégorie '{{ sector.name }}'" class="confirm delete"><img src="{{ asset('bundles/gessehcore/images/Trash_Delete.png') }}" alt="Supprimer"></a></span>
</li>
