{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Catégories{% endblock %}
{% block stylesheets %}{{ parent() }}<link href="{{ asset('bundles/gessehcore/css/admin.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block content %}
    <ul class="actions">
        <li><a href="{{ path('GCore_FSANewSector') }}" title="Ajouter une nouvelle catégorie" class="add" ><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></li>
    </ul>
    {% if sector_form is not empty %}
        <div>{{ form_errors(sector_form) }}</div>
        {{ form_start(sector_form) }}
        {% endif %}
    <ul class="entities sectors">
        {% for sector in sectors %}
            {% include sector_id == sector.id ? 'GessehCoreBundle:FieldSetAdmin:sectorEdit.html.twig' : 'GessehCoreBundle:FieldSetAdmin:sectorIndex.html.twig' %}
        {% endfor %}
    {% if sector_form is not empty and sector_id is empty %}
        {% include 'GessehCoreBundle:FieldSetAdmin:sectorEdit.html.twig' %}
    {% endif %}
    </ul>
    <ul class="actions">
        <li><a href="{{ path('GCore_FSANewSector') }}" title="Ajouter une nouvelle catégorie" class="add"><img src="{{ asset('bundles/gessehcore/images/Add.png') }}" alt="Ajouter" /></a></li>
    </ul>
    {% if sector_form is not empty %}{{ form_end(sector_form) }}{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/addSub.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
